<div class="panel pb-4">

    <div class="mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <div class="flex items-center gap-2">
            <span>Mostrar agotados</span>
            <label class="w-12 h-6 relative">
                <input type="checkbox" class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                    id="custom_switch_checkbox2" />
                <span for="custom_switch_checkbox2"
                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                </span>
            </label>
        </div>
    </div>

    @if (stocksProduccion.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2">
            <strong class="ltr:mr-1 rtl:ml-1">
                El producto no posee stocks de producciones
            </strong>
        </span>
    </div>
    } @else {
    <div class="flex flex-wrap-reverse items-center justify-between mt-2 gap-2">
        <h5 class="text-lg font-semibold dark:text-white-light min-w-0 flex items-center gap-2">
            Stock de producciones
        </h5>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="stocksProduccion && stocksProduccion.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage_produccion}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="stocksProduccion && stocksProduccion.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage_produccion}}/{{ total_rows_produccion }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Lote</th>
                    <th colspan="6" class="text-center">Stock</th>
                    <th rowspan="2">Ubicación</th>
                    <th rowspan="2">Fecha de producción</th>
                </tr>
                <tr>
                    <th>Inicial</th>
                    <th>Disponible</th>
                    <th>Reservado</th>
                    <th>Muestra</th>
                    <th>Observado</th>
                    <th>Consumido</th>
                </tr>
            </thead>
            <tbody>
                @for(data of stocksProduccion | slice: pageSize_produccion | slice: 0:itemsPerPage_produccion ; let
                index = $index; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ getLote(data) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.initial_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.available_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.reserved_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.samples_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.observed_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.consumed_amount) }} </td>
                    <td class="whitespace-nowrap"> {{ getLocation(data).join(' - ') }} </td>
                    <td class="whitespace-nowrap"> {{ formatFecha(data.batch?.productions[0]?.current_state?.datetime_from) }} </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows_produccion"
                    [pageSize]="itemsPerPage_produccion" [(page)]="currentPage_produccion" [maxSize]="2" [rotate]="true"
                    #numPages [boundaryLinks]="true" (pageChange)="obtenerStocksProducciones()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage_produccion" bindLabel="label"
                    [clearable]="false" class="custom-select" [dropdownPosition]="'top'"
                    (change)="obtenerStocksProducciones()">
                </ng-select>
            </div>
        </div>
    </div>
    }





    @if (stocksCompra.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light mt-4">
        <span class="ltr:pr-2 rtl:pl-2">
            <strong class="ltr:mr-1 rtl:ml-1">
                El producto no posee stocks de compras
            </strong>
        </span>
    </div>
    } @else {
    <div class="flex flex-wrap-reverse items-center justify-between mt-2 gap-2 mt-4">
        <h5 class="text-lg font-semibold dark:text-white-light min-w-0 flex items-center gap-2">
            Stock de compras
        </h5>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="stocksCompra && stocksCompra.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage_compras}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="stocksCompra && stocksCompra.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage_compras}}/{{ total_rows_compras }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Lote</th>
                    <th colspan="6" class="text-center">Stock</th>
                    <th rowspan="2">Ubicación</th>
                    <th rowspan="2">Fecha de producción</th>
                </tr>
                <tr>
                    <th>Inicial</th>
                    <th>Disponible</th>
                    <th>Reservado</th>
                    <th>Muestra</th>
                    <th>Observado</th>
                    <th>Consumido</th>
                </tr>
            </thead>
            <tbody>
                @for(data of stocksCompra | slice: pageSize_compras | slice: 0:itemsPerPage_compras ; let
                index = $index; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ getLote(data) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.initial_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.available_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.reserved_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.samples_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.observed_amount) }} </td>
                    <td class="whitespace-nowrap">{{ getStock(data, data.product?.stock_data?.consumed_amount) }} </td>
                    <td class="whitespace-nowrap"> {{ getLocation(data).join(' - ') }} </td>
                    <td class="whitespace-nowrap"> {{ formatFecha(data.batch?.purchases[0]?.transaction?.transaction_datetime) }} </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows_compras"
                    [pageSize]="itemsPerPage_compras" [(page)]="currentPage_compras" [maxSize]="2" [rotate]="true"
                    #numPages [boundaryLinks]="true" (pageChange)="obtenerStocksCompras()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage_compras" bindLabel="label"
                    [clearable]="false" class="custom-select" [dropdownPosition]="'top'"
                    (change)="obtenerStocksCompras()">
                </ng-select>
            </div>
        </div>
    </div>
    }

</div>