<div class="panel pb-4">


    @if (productos.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee productos en
                posesión</strong></span>
    </div>
    } @else {
    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="productos && productos.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="productos && productos.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>

                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Código
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Nombre
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Tipo
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Categoría
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Número de serie
                        </span>
                    </th>
                    <th style="cursor: pointer;" (click)="cambiarOrdenamiento('owners.datetime_from')">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Fecha
                            <fa-icon
                                [icon]="ordenamiento['owners.datetime_from']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of productos | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ data.sale_products[0]?.transaction_product?.product?.code}} </td>
                    <td class="whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor-pointer"
                        (click)="irAlProducto($event, data)"> {{
                        data.sale_products[0]?.transaction_product?.product?.name}}</td>
                    <td class="whitespace-nowrap">{{
                        data.sale_products[0]?.transaction_product?.product?.product_type?.name}} </td>
                    <td class="whitespace-nowrap">{{
                        data.sale_products[0]?.transaction_product?.product?.product_category?.name}} </td>
                    <td class="whitespace-nowrap">{{ data.serial_number}} </td>
                    <td class="whitespace-nowrap">{{ data.current_owner.datetime_from}} </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerProductosEnPosesion()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerProductosEnPosesion()">
                </ng-select>
            </div>
        </div>

    </div>
    }

</div>