<div>
    <div class="panel mt-6 pb-0">
        <div class="mb-5 flex flex-col gap-2 md:flex-row md:items-center">
            <h5 class="text-lg font-semibold dark:text-white-light">Tipos de cambio</h5>
            <button type="button" ngxTippy="Agregar tipo de cambio" (click)="openModalNuevoTipo('NEW')">
                <icon-plus />
            </button>
            <button type="button" ngxTippy="Activar filtros" (click)="toggleFilter()">
                <icon-search />
            </button>
        </div>

        <div class="row mb-4">
            <div class="col-lg-12">
                <div class="text-center">
                    @for(moneda of monedas ; track moneda.uuid) {
                    <div class="form-check form-check-inline">
                        <label class="inline-flex mr-3" [for]="'radio_' + moneda.uuid">
                            <input class="form-radio" type="radio" name="radio_monedas" [id]="'radio_' + moneda.uuid"
                                [value]="moneda.name" (change)="obtenerTiposCambio()"
                                [(ngModel)]="filtros.currency_name">
                            <span style="cursor: pointer;">{{ moneda.name }}</span>
                        </label>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <span *ngIf="tiposCambio && tiposCambio.length > 0" class="float-md-start color-gris">
                    Página: {{ currentPage}}/{{numPages.pageCount }}
                </span>
            </div>
            <div class="col-6" style="text-align: right;">
                <span *ngIf="tiposCambio && tiposCambio.length > 0" class="float-md-end color-gris">
                    Ítems: {{itemsInPage}}/{{ total_rows }}
                </span>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table-hover">
                @if(tiposCambio.length == 0) {
                <div
                    class="flex items-center p-3.5 rounded text-info bg-info-light dark:bg-info-dark-light justify-content-center">
                    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">No existen tipos de
                            cambio</strong></span>
                </div>
                }
                <thead>
                    <tr>
                        <th style="cursor: pointer;">
                            <span style="display: inline-flex; align-items: center; gap: 10px;">
                                Moneda
                                <!-- <fa-icon
                                    [icon]="ordenamiento['currency_name']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon> -->
                            </span>
                        </th>
                        <th style="cursor: pointer;">
                            <span style="display: inline-flex; align-items: center; gap: 10px;">
                                Valor
                                <!-- <fa-icon
                                    [icon]="ordenamiento['rate']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon> -->
                            </span>
                        </th>
                        <th style="cursor: pointer;" (click)="cambiarOrdenamiento('datetime_from')">
                            <span style="display: inline-flex; align-items: center; gap: 10px;">
                                Desde
                                <fa-icon
                                    [icon]="ordenamiento['datetime_from']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon>
                            </span>
                        </th>
                        <th style="cursor: pointer;">
                            <span style="display: inline-flex; align-items: center; gap: 10px;">
                                Hasta
                                <!-- <fa-icon
                                    [icon]="ordenamiento['datetime_to']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon> -->
                            </span>
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (showFilter) {
                    <tr>
                        <td>
                            <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.name"
                                (input)="obtenerTiposCambio()" />
                        </td>
                        <td></td>
                    </tr>
                    }
                    @for(data of tiposCambio | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                    <tr>
                        <td class="whitespace-nowrap">{{ data.currency.name}} </td>
                        <td class="whitespace-nowrap">{{ data.rate}} </td>
                        <td class="whitespace-nowrap">{{ data.datetime_from}} </td>
                        <td class="whitespace-nowrap">{{ data.datetime_to}} </td>

                        <td>
                            <div class="flex items-center">
                                <div>
                                    <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                        (click)="openModalNuevoTipo('EDIT', data)">
                                        <icon-pencil />
                                    </button>
                                </div>
                                <!-- <div>
                                    <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                        <icon-trash-lines />
                                    </button>
                                </div> -->
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="row mt-4">
                <div class="col">
                    <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                        [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                        [boundaryLinks]="true" (pageChange)="obtenerTiposCambio()" />
                </div>

                <div class="col">
                    <div class="row align-items-center float-md-end">
                        <div class="col-auto">
                            <label for="paginacion">Ítems por página:</label>
                        </div>
                        <div class="col-auto">
                            <select id="paginacion" class="form-control" (change)="obtenerTiposCambio()"
                                [(ngModel)]="itemsPerPage">
                                <option value=5>5</option>
                                <option value=10>10</option>
                                <option value=20>20</option>
                                <option value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    <ngx-custom-modal #modalTipoCambio class="modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="tipoCambioForm" (keydown.enter)="confirmarTipoCambio()">

                            <div class="mb-3">
                                <label>Moneda</label>
                                <input type="text" class="form-control" [value]="filtros.currency_name" disabled>
                            </div>

                            <div class="mb-3"
                                [ngClass]="isSubmit ? tipoCambioForm.controls['valor'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Valor</label>
                                <input type="text" class="form-control" formControlName="valor">
                                <ng-container *ngIf="isSubmit && !tipoCambioForm.controls['valor'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmit && tipoCambioForm.controls['valor'].errors">
                                    <p class="mt-1 text-danger">Ingresa valor</p>
                                </ng-container>
                            </div>

                            <div class="col-md-12 pr-1 mb-3">
                                <label>Fecha desde</label>
                                <input type="text" mwlFlatpickr [options]="dateTime" formControlName="datetime_from"
                                    class="form-input" />
                            </div>

                            @if (isEdicion) {
                            <div class="col-md-12 pr-1">
                                <label>Fecha hasta</label>
                                <input type="text" mwlFlatpickr [options]="dateTime" formControlName="datetime_to"
                                    class="form-input" />
                            </div>
                            }

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarTipoCambio()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>