<div>
    <div class="absolute inset-0">
        <img src="/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover" />
    </div>

    <div
        class="relative flex min-h-screen items-center justify-center bg-[url(/assets/images/auth/map.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16">

        <div
            class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">

            <div
                class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[500px]">

                <div class="mx-auto w-full max-w-[440px]">

                    <div class="mb-10">
                        <h1 class="text-3xl font-extrabold uppercase !leading-snug text-primary md:text-4xl">Iniciar
                            sesión
                        </h1>
                        <p class="text-base font-bold leading-normal text-white-dark">Ingresa tu email o usuario para
                            loguearte</p>
                    </div>

                    <form class="space-y-4 dark:text-white" [formGroup]="loginForm">


                        <div [ngClass]="isSubmitLogin ? loginForm.controls['usuario'].errors ? 'has-error'
                        : 'has-success' : ''">
                            <label for=" usuario">Nombre de usuario o Email</label>
                            <input id="usuario" type="text" placeholder="" class="form-control"
                                formControlName="usuario" />
                            <!-- <ng-container *ngIf="isSubmitLogin && !loginForm.controls['usuario'].errors">
                                <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                            </ng-container>
                            <ng-container *ngIf="isSubmitLogin && loginForm.controls['usuario'].errors">
                                <p class="mt-1 text-danger">Ingresa usuario</p>
                            </ng-container> -->
                        </div>

                        <div
                            [ngClass]="isSubmitLogin ? loginForm.controls['password'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Contraseña *</label>
                            <div class="input-group">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                    formControlName="password">
                                <fa-icon [icon]="showPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                    style="cursor: pointer;" (click)="togglePassword()"></fa-icon>
                            </div>
                            <!-- <ng-container *ngIf="isSubmitLogin && !loginForm.controls['password'].errors">
                                <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                            </ng-container>
                            <ng-container *ngIf="isSubmitLogin && loginForm.controls['password'].errors">
                                <p class="mt-1 text-danger">Ingresa contraseña</p>
                            </ng-container> -->
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1 d-flex justify-content-between">
                                <a (click)="openModalRecuperoClave()"
                                    style="cursor: pointer !important; text-decoration: underline;font-size: 13px; font-weight: bold; color: #ada8a8">
                                    ¿Olvidaste tu contraseña? Recuperala acá
                                </a>
                            </div>
                        </div>
                        <!-- <div>
                            <label class="flex cursor-pointer items-center">
                                <input type="checkbox" class="form-checkbox bg-white dark:bg-black" />
                                <span class="text-white-dark">Subscribe to weekly newsletter</span>
                            </label>
                        </div> -->
                        <button (click)="iniciarSesion()"
                            class="btn btn-gradient !mt-6 w-full border-0 uppercase shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
                            Inicia sesión
                        </button>
                    </form>

                    <div class="text-center dark:text-white mt-4">
                        ¿ No tenes cuenta ?
                        <a routerLink="/auth/boxed-signup"
                            class="uppercase text-primary underline transition hover:text-black dark:hover:text-white">
                            Registrate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <ngx-custom-modal #modalSeleccionRol class="modal-top extra-large-modal animate animate-fade-in">

        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Ingresar con rol</h5>
        </ng-template>

        <ng-template #modalBody>

            <div class="row justify-content-center flex-grow-1 align-items-center mt-5 mb-5">
                <div class="col-md-12 d-flex flex-wrap justify-content-center">
                    @for(rol of usuarioLogueado.roles ; track rol) {
                    <div [ngClass]="{'col-lg-4': usuarioLogueado.roles.length === 3, 'col-lg-6': usuarioLogueado.roles.length === 2}"
                        class="col-md-6 col-sm-6 col-xs-6 d-flex flex-column align-items-center">
                        <button class="btn btn-wd btn-primary m-2" (click)="ingresarAlDashboard(rol)">
                            <span style="font-size: 1.3em;">
                                {{ rol.name }}
                            </span>
                        </button>
                        <!-- <span style="color: #ada8a8; font-weight: bold;">
                            {{
                            rol.name === 'COACH' ? 'Gestionar informes' :
                            rol.name === 'COACHEE' ? 'Realizar los tests' :
                            (rol.name === 'ADMIN' || rol.name === 'SUPER_ADMIN') ? 'Administrar sistema' : ''
                            }}
                        </span> -->
                    </div>
                    }
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                        (click)="cancelarSeleccionDashboard()">Cancelar</button>
                </div>
            </div>




        </ng-template>
    </ngx-custom-modal>
</div>


<!-- Spinner -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>