<div>
    <div class="absolute inset-0">
        <img src="/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover" />
    </div>

    <div
        class="relative flex min-h-screen items-center justify-center bg-[url(/assets/images/auth/map.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16">

        <div
            class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">

            <div
                class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[500px]">

                <div class="mx-auto w-full max-w-[440px]">

                    <div class="mb-10">
                        <h1 class="text-3xl font-extrabold uppercase !leading-snug text-primary md:text-4xl">Iniciar
                            sesión
                        </h1>
                        <p class="text-base font-bold leading-normal text-white-dark">Ingresa tu email o usuario para
                            loguearte</p>
                    </div>

                    <form class="space-y-4 dark:text-white" [formGroup]="loginForm">
                        <div>
                            <label for="Usuario">Usuario</label>
                            <div class="relative text-white-dark">
                                <input id="Usuario" placeholder="Ingresa usuario" formControlName="usuario"
                                    class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-user [fill]="true" />
                                </span>
                            </div>
                        </div>
                        <div>
                            <label for="Password">Contraseña</label>
                            <div class="relative text-white-dark">
                                <input id="Password" type="password" placeholder="Ingresa contraseña"
                                    formControlName="password" class="form-input ps-10 placeholder:text-white-dark" />
                                <span class="absolute start-4 top-1/2 -translate-y-1/2">
                                    <icon-lock-dots [fill]="true" />
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-1 d-flex justify-content-between">
                                <a (click)="openModalRecuperoClave()"
                                    style="cursor: pointer; text-decoration: underline;font-size: 13px; font-weight: bold; color: #ada8a8">
                                    ¿Olvidaste tu contraseña? Recuperala acá
                                </a>
                            </div>
                        </div>
                        <!-- <div>
                            <label class="flex cursor-pointer items-center">
                                <input type="checkbox" class="form-checkbox bg-white dark:bg-black" />
                                <span class="text-white-dark">Subscribe to weekly newsletter</span>
                            </label>
                        </div> -->
                        <button (click)="iniciarSesion()"
                            class="btn btn-gradient !mt-6 w-full border-0 uppercase shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
                            Inicia sesión
                        </button>
                    </form>

                    <!-- <div class="relative my-7 text-center md:mb-9">
                        <span
                            class="absolute inset-x-0 top-1/2 h-px w-full -translate-y-1/2 bg-white-light dark:bg-white-dark"></span>
                        <span
                            class="relative bg-white px-2 font-bold uppercase text-white-dark dark:bg-dark dark:text-white-light">or</span>
                    </div> -->
                    <!-- <div class="mb-10 md:mb-[60px]">
                        <ul class="flex justify-center gap-3.5 text-white">
                            <li>
                                <a href="javascript:"
                                    class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
                                    style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)">
                                    <icon-instagram />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:"
                                    class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
                                    style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)">
                                    <icon-facebook-circle />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:"
                                    class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
                                    style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)">
                                    <icon-twitter [fill]="true" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:"
                                    class="inline-flex h-8 w-8 items-center justify-center rounded-full p-0 transition hover:scale-110"
                                    style="background: linear-gradient(135deg, rgba(239, 18, 98, 1) 0%, rgba(67, 97, 238, 1) 100%)">
                                    <icon-google />
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="text-center dark:text-white mt-4">
                        ¿ No tenes cuenta ?
                        <a routerLink="/auth/boxed-signup"
                            class="uppercase text-primary underline transition hover:text-black dark:hover:text-white">
                            Registrate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <ngx-custom-modal #modalRecuperoClave class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="text-center">Recuperar contraseña</div>
        </ng-template>
        <ng-template #modalBody>

            <form class="space-y-5" [formGroup]="envioEmailForm" (ngSubmit)="enviarEmail()" novalidate>
                <div
                    [ngClass]="isSubmitRecuperoClave ? envioEmailForm.controls['email'].errors ? 'has-error' : 'has-success' : ''">
                    <label for="Email">Email</label>
                    <input id="Email" type="text" placeholder="Ingresa email" class="form-input"
                        formControlName="email" />
                    <ng-container *ngIf="isSubmitRecuperoClave && !envioEmailForm.controls['email'].errors">
                        <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                    </ng-container>
                    <ng-container *ngIf="isSubmitRecuperoClave && envioEmailForm.controls['email'].errors">
                        <p class="mt-1 text-danger">Ingresa Email</p>
                    </ng-container>
                </div>
                <div class="row">
                    <div class="col-6 pr-1 text-end">
                        <button type="submit" class="btn btn-primary">Recuperar</button>
                    </div>
                    <div class="col-6 pr-1">
                        <button type="button" (click)="closeModalRecuperoClave()"
                            class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </div>

            </form>

        </ng-template>
        <ng-template #modalFooter>
        </ng-template>
    </ngx-custom-modal>
</div>


<!-- Spinner -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>