@if (!trazado) {
<div
    class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light mt-3">
    <span class="ltr:pr-2 rtl:pl-2">
        <strong class="ltr:mr-1 rtl:ml-1">
            La trazabilidad sólo está disponible cuando la producción está liberada.
        </strong>
    </span>
</div>
} @else {

<div class="panel pb-4">


    <div class="mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" ngxTippy="Expandir todo" (click)="expandirTodos()">
            <icon-expand-all2 />
        </button>
    </div>

    <div class="p-4">
        <ng-container>
            <ul class="space-y-1">
                <ng-template [ngTemplateOutlet]="renderNode"
                    [ngTemplateOutletContext]="{ node: trazado, level: 0 }"></ng-template>
            </ul>
        </ng-container>

        <!-- Template recursivo -->
        <ng-template #renderNode let-node="node" let-level="level">
            <li [ngStyle]="{ 'padding-left.px': level * 16 }">
                <div class="flex items-center gap-2 cursor-pointer group py-1" (click)="toggle(node.id)">
                    <!-- Flecha solo si tiene hijos -->
                    <span class="w-4 text-sm">
                        <ng-container *ngIf="node.children?.length; else bullet">
                            <span [ngClass]="{ 'rotate-90 inline-block': isOpen(node.id) }">▶</span>
                        </ng-container>
                        <ng-template #bullet>•</ng-template>
                    </span>

                    <!-- Label -->
                    <span class="text-sm">{{ node.label }}</span>
                </div>

                <!-- Hijos -->
                <ul *ngIf="isOpen(node.id) && node.children?.length">
                    <ng-container *ngFor="let child of node.children">
                        <ng-template [ngTemplateOutlet]="renderNode"
                            [ngTemplateOutletContext]="{ node: child, level: level + 1 }"></ng-template>
                    </ng-container>
                </ul>
            </li>
        </ng-template>
    </div>

</div>

}