<div class="panel mt-6 pb-2">

    <div class="mb-2 flex items-center justify-between">
        <div class="flex items-center gap-2">
            <h5 class="text-lg font-semibold dark:text-white-light">Reservas</h5>

            <button type="button" ngxTippy="Agregar reserva" (click)="openModalRegistro('NEW', 'Reserva')">
                <icon-plus />
            </button>
        </div>

        <button type="button" (click)="toggleReservas()" class="text-sm hover:underline flex items-center gap-1"
            style="color:#000000a3" [ngxTippy]="getMostrarOcultarTooltipReservas()">
            <fa-icon [icon]="mostrarReservas ? iconEyeSlash : iconEye" style="cursor: pointer;"></fa-icon>
        </button>
    </div>


    @if (mostrarReservas) {
    @if (reservas && reservas.length > 0) {
    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Fecha de excepción</th>
                    <th>Lote</th>
                    <th>Instancias de producto</th>
                    <th>Usuario responsable</th>
                    <th>Cantidad</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of reservas | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ showFecha(data.detection_datetime)}} </td>
                    <td class="whitespace-nowrap">{{ data.stock?.batch?.batch_identification}} </td>
                    <td class="whitespace-nowrap">
                        {{ getSerials(data.product_instances) }}
                    </td>
                    <td class="whitespace-nowrap">{{ data.responsible_user?.user_name}} </td>
                    <td class="whitespace-nowrap">{{ showCantidad(data.stock, data.quantity)}} </td>
                    <td class="whitespace-nowrap">{{ data.description}} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalRegistro('EDIT', data.record_type, data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button type="button" ngxTippy="Devolver al stock disponible"
                                    (click)="openSwalEliminar(data)">
                                    <icon-multiple-forward-right class="w-5 h-5" />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    }@else{
    <div
        class="mb-2 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee reservas</strong></span>
    </div>
    }
    }

</div>

<div class="panel mt-3 pb-2">

    <div class="mb-2 flex items-center justify-between">
        <div class="flex items-center gap-2">
            <h5 class="text-lg font-semibold dark:text-white-light">Muestras</h5>

            <button type="button" ngxTippy="Agregar muestra" (click)="openModalRegistro('NEW', 'Muestra')">
                <icon-plus />
            </button>
        </div>

        <button type="button" (click)="toggleMuestras()" class="text-sm hover:underline flex items-center gap-1"
            style="color:#000000a3" [ngxTippy]="getMostrarOcultarTooltipMuestras()">
            <fa-icon [icon]="mostrarMuestras ? iconEyeSlash : iconEye" style="cursor: pointer;"></fa-icon>
        </button>
    </div>

    @if(mostrarMuestras) {
    @if (muestras && muestras.length > 0) {
    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Fecha de excepción</th>
                    <th>Lote</th>
                    <th>Intancias de producto</th>
                    <th>Usuario responsable</th>
                    <th>Cantidad</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of muestras | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ showFecha(data.detection_datetime)}} </td>
                    <td class="whitespace-nowrap">{{ data.stock?.batch?.batch_identification}} </td>
                    <td class="whitespace-nowrap">
                        {{ getSerials(data.product_instances) }}
                    </td>
                    <td class="whitespace-nowrap">{{ data.responsible_user?.user_name}} </td>
                    <td class="whitespace-nowrap">{{ showCantidad(data.stock, data.quantity)}} </td>
                    <td class="whitespace-nowrap">{{ data.description}} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalRegistro('EDIT', data.record_type, data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button type="button" ngxTippy="Devolver al stock disponible"
                                    (click)="openSwalEliminar(data)">
                                    <icon-multiple-forward-right class="w-5 h-5" />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    }@else {
    <div
        class="mb-2 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee muestras</strong></span>
    </div>
    }
    }

</div>

<div class="panel mt-3 pb-2">

    <div class="mb-2 flex items-center justify-between">
        <div class="flex items-center gap-2">
            <h5 class="text-lg font-semibold dark:text-white-light">No conformidades de producto</h5>

            <button type="button" ngxTippy="Agregar no conformidad"
                (click)="openModalRegistro('NEW', 'No conformidad')">
                <icon-plus />
            </button>
        </div>

        <button type="button" (click)="toggleNoConformidades()" class="text-sm hover:underline flex items-center gap-1"
            style="color:#000000a3" [ngxTippy]="getMostrarOcultarTooltipNoConformidades()">
            <fa-icon [icon]="mostrarNoConformidades ? iconEyeSlash : iconEye" style="cursor: pointer;"></fa-icon>
        </button>
    </div>

    @if(mostrarNoConformidades) {
    @if(noConformidades && noConformidades.length > 0) {
    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Fecha de excepción</th>
                    <th>Lote</th>
                    <th>Intancias de producto</th>
                    <th>Estado</th>
                    <th>Usuario responsable</th>
                    <th>Cantidad</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of noConformidades | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr [ngClass]="getEstadoRowClass(data.disposition_status)">
                    <td class="whitespace-nowrap">{{ showFecha(data.detection_datetime)}} </td>
                    <td class="whitespace-nowrap">{{ data.stock?.batch?.batch_identification}} </td>
                    <td class="whitespace-nowrap">
                        {{ getSerials(data.product_instances) }}
                    </td>
                    <td> {{ data.disposition_status }} </td>
                    <td class="whitespace-nowrap">{{ data.responsible_user?.user_name}} </td>
                    <td class="whitespace-nowrap">{{ showCantidad(data.stock, data.quantity)}} </td>
                    <td class="whitespace-nowrap">{{ data.description}} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button (click)="toggleNC(data)" class="ltr:mr-3 rtl:ml-2" ngxTippy="Disposiciones">
                                    <icon-expand-item *ngIf="!expandedNC[data.uuid]" />
                                    <icon-collapse-item *ngIf="expandedNC[data.uuid]" />
                                </button>
                            </div>
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalRegistro('EDIT', data.record_type, data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <!-- <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div> -->
                        </div>
                    </td>
                </tr>

                @if (expandedNC[data.uuid]) {
                <tr>
                    <td colspan="8" class="bg-sky-50 p-2 border-l-4 border-sky-300"> <ng-container
                            *ngIf="disposicionesPorNC[data.uuid]?.length; else sinDisp">
                            <table class="w-full text-sm border border-gray-200">
                                <thead>
                                    <tr>
                                        <th colspan="8">

                                            <div class="flex items-center gap-2">
                                                <h5 class="text-lg font-semibold dark:text-white-light">
                                                    Disposiciones
                                                </h5>

                                                <button type="button" ngxTippy="Agregar disposición"
                                                    (click)="openModalDisposicion('NEW', data)"
                                                    class="hover:text-blue-600">
                                                    <icon-plus />
                                                </button>
                                            </div>

                                        </th>

                                    </tr>
                                </thead>

                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Responsable</th>
                                        <th>Tipo de defecto</th>
                                        <th>Disposición</th>
                                        <th>Instrucciones</th>
                                        <th class="text-center">Acción correlativa</th>
                                        <th>Comentarios de acción correlativa</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (disp of disposicionesPorNC[data.uuid]; track disp.uuid) {
                                    <ng-container [ngTemplateOutlet]="disposicionRow"
                                        [ngTemplateOutletContext]="{ disp: disp }">
                                    </ng-container>
                                    }
                                </tbody>
                            </table>
                        </ng-container>

                        <ng-template #sinDisp>
                            <div
                                class="mb-2 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                                <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee
                                        disposiciones</strong></span>
                            </div>
                            <!-- <div class="flex items-center justify-center gap-2 text-gray-500 italic">
                                <span>No posee disposiciones</span>

                                <button type="button" ngxTippy="Agregar disposición"
                                    (click)="openModalDisposicion('NEW', data)" class="hover:text-blue-600">
                                    <icon-plus />
                                </button>
                            </div> -->
                        </ng-template>
                    </td>
                </tr>
                }

                }
            </tbody>
        </table>

    </div>
    }@else {
    <div
        class="mb-2 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee no conformidades</strong></span>
    </div>
    }
    }

</div>

<ng-template #disposicionRow let-disp="disp">

    <tr>
        <td> {{showFecha(disp.disposition_datetime)}} </td>
        <td> {{disp.responsible_user?.user_name}} </td>
        <td> {{disp.defect_type}} </td>
        <td> {{disp.disposition_action}} </td>
        <td> {{disp.disposition_instruction}} </td>
        <td>
            <div
                class="flex items-center justify-center font-semibold  ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                <label class="relative mb-0 h-4 w-7 cursor-pointer">
                    <input type="checkbox" [checked]="disp.corrective_action" [disabled]="true"
                        class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                        id="custom_switch_checkbox2" />
                    <span
                        class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                </label>
            </div>
        </td>
        <td> {{disp.corrective_action_comments}} </td>
        <td>
            <div class="flex items-center">
                <div>
                    <button (click)="toggleDisposicion(disp)" class="ltr:mr-3 rtl:ml-2" ngxTippy="Ejecuciones">
                        <icon-expand-item *ngIf="!expandedDisposicion[disp.uuid]" />
                        <icon-collapse-item *ngIf="expandedDisposicion[disp.uuid]" />
                    </button>
                </div>
                <div>
                    <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                        (click)="openModalDisposicion('EDIT', null, disp)">
                        <icon-pencil />
                    </button>
                </div>
                <!-- <div>
                    <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminarDisposicion(disp)">
                        <icon-trash-lines />
                    </button>
                </div> -->
            </div>
        </td>
    </tr>

    @if (expandedDisposicion[disp.uuid]) {
    <tr>
        <td colspan="8" class="bg-sky-150 p-2">

            @if (disp.disposition_executions?.length) {
            <table class="w-full text-sm bg-sky-100 border-l-4 border-sky-400">
                <thead>
                    <tr>
                        <th colspan="8">
                            <div class="flex items-center gap-2">
                                <h5 class="text-lg font-semibold dark:text-white-light">
                                    Ejecuciones
                                </h5>

                                <button type="button" ngxTippy="Agregar ejecución"
                                    (click)="openModalEjecucion('NEW', disp)" class="hover:text-blue-600">
                                    <icon-plus />
                                </button>
                            </div>

                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Responsable</th>
                        <th>Acción ejecutada</th>
                        <!-- <th>Cantidad</th> -->
                        <th>Comentarios</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @for (ej of disp.disposition_executions; track ej.uuid) {
                    <tr>
                        <td>{{ showFecha(ej.execution_datetime) }}</td>
                        <td>{{ ej.responsible_user?.user_name }}</td>
                        <td>{{ ej.execution_action }}</td>
                        <!-- <td>{{ ej.quantity }}</td> -->
                        <td>{{ ej.execution_comments }}</td>
                        <td>
                            <div class="flex items-center">
                                <div>
                                    <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                        (click)="openModalEjecucion('EDIT', disp, ej)">
                                        <icon-pencil />
                                    </button>
                                </div>
                                <!-- <div>
                                    <button type="button" ngxTippy="Eliminar"
                                        (click)="openSwalEliminarEjecucion(ej, disp)">
                                        <icon-trash-lines />
                                    </button>
                                </div> -->
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <!-- <div class="flex items-center justify-center gap-2 text-gray-500 italic"> -->
            <div
                class="mb-2 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                <span class="ltr:pr-2 rtl:pl-2">
                    <strong class="ltr:mr-1 rtl:ml-1">
                        No posee ejecuciones
                    </strong>
                </span>
            </div>
            <!-- <span>No posee ejecuciones</span>

                <button type="button" ngxTippy="Agregar ejecución" (click)="openModalEjecucion('NEW', disp)"
                    class="hover:text-blue-600">
                    <icon-plus />
                </button> -->
            <!-- </div>  -->
            }

        </td>
    </tr>
    }

</ng-template>



<div>
    <ngx-custom-modal #modalExcepcion class=" modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="registroForm">


                            <div
                                [ngClass]="isSubmit ? registroForm.controls['record_type'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Tipo de registro</label>
                                <ng-select [items]="['Reserva', 'Muestra', 'No conformidad']"
                                    formControlName="record_type" [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? registroForm.controls['record_type'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['detection_datetime'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Fecha de detección</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                                enableTime: false, 
                                                dateFormat: 'd-m-Y',
                                                time24hr: true,
                                                enableSeconds: false
                                            }" class="form-input" formControlName="detection_datetime" />
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['stock_uuid'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Stocks</label>
                                <ng-select [items]="stocks" formControlName="stock_uuid" [virtualScroll]="true"
                                    [appendTo]="'body'" bindLabel="nombreCompleto" [compareWith]="compararStocks"
                                    [ngClass]="isSubmit ? registroForm.controls['stock_uuid'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['quantity'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" formControlName="quantity">
                            </div>

                            @if (requiereInstancias) {
                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['product_instance_uuids'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Instancias de producto</label>
                                <ng-select [items]="instanciasProducto" formControlName="product_instance_uuids"
                                    [virtualScroll]="true" [appendTo]="'body'" bindLabel="serial_number"
                                    bindValue="uuid" multiple="true" closeOnSelect="false"
                                    [maxSelectedItems]="registroForm.controls['quantity'].value"
                                    [ngClass]="isSubmit ? registroForm.controls['product_instance_uuids'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>
                            }

                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['description'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="description">Descripción</label>
                                <textarea class="form-control" id="description" formControlName="description"
                                    rows="1"></textarea>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? registroForm.controls['usuario'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Usuarios</label>
                                <ng-select [items]="usuarios" formControlName="usuario" [virtualScroll]="true"
                                    [appendTo]="'body'" bindLabel="user_name" bindValue="uuid"
                                    [ngClass]="isSubmit ? registroForm.controls['usuario'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button class="btn btn-primary mr-3" (click)="confirmarRegistroCalidad()">
                                        Confirmar
                                    </button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<div>
    <ngx-custom-modal #modalDisposicion class=" modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="disposicionForm">

                            <div class="mt-2"
                                [ngClass]="isSubmit ? disposicionForm.controls['disposition_datetime'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Fecha de disposicón</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                                enableTime: false, 
                                                dateFormat: 'd-m-Y',
                                                time24hr: true,
                                                enableSeconds: false
                                            }" class="form-input" formControlName="disposition_datetime" />
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? disposicionForm.controls['user'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Usuarios</label>
                                <ng-select [items]="usuarios" formControlName="user" [virtualScroll]="true"
                                    [appendTo]="'body'" bindLabel="user_name" bindValue="uuid"
                                    [ngClass]="isSubmit ? disposicionForm.controls['user'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? disposicionForm.controls['defect_type'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Tipo de defecto</label>
                                <ng-select [items]="['Crítico', 'Mayor', 'Visual']" formControlName="defect_type"
                                    [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? disposicionForm.controls['defect_type'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? disposicionForm.controls['disposition_action'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Disposición</label>
                                <ng-select [items]="['Corregir', 'Descartar']" formControlName="disposition_action"
                                    [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? disposicionForm.controls['disposition_action'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? disposicionForm.controls['disposition_instruction'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="disposition_instruction">Instrucciones</label>
                                <textarea class="form-control" id="disposition_instruction"
                                    formControlName="disposition_instruction" rows="1"></textarea>
                            </div>

                            <div class="flex items-center gap-2 mt-3">
                                <label>Acción correlativa</label>
                                <label class="w-12 h-6 relative">
                                    <input type="checkbox"
                                        class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                        formControlName="corrective_action" />
                                    <span class="outline_checkbox bg-icon border-2 border-[#ebedf2] block h-full rounded-full before:absolute before:left-1
          before:bg-[#ebedf2] before:bottom-1 before:w-4 before:h-4 before:rounded-full peer-checked:before:left-7
          peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300"></span>
                                </label>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? disposicionForm.controls['corrective_action_comments'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="corrective_action_comments">Comentarios de acción correctiva</label>
                                <textarea class="form-control" id="corrective_action_comments"
                                    formControlName="corrective_action_comments" rows="1"></textarea>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button class="btn btn-primary mr-3" (click)="confirmarDisposicion()">
                                        Confirmar
                                    </button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModalDisposicionOEjecucion()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>


<div>
    <ngx-custom-modal #modalEjecucion class=" modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="ejecucionForm">

                            <div class="mt-2"
                                [ngClass]="isSubmit ? ejecucionForm.controls['execution_datetime'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Fecha de ejecución</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                                enableTime: false, 
                                                dateFormat: 'd-m-Y',
                                                time24hr: true,
                                                enableSeconds: false
                                            }" class="form-input" formControlName="execution_datetime" />
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? ejecucionForm.controls['user'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Usuarios</label>
                                <ng-select [items]="usuarios" formControlName="user" [virtualScroll]="true"
                                    [appendTo]="'body'" bindLabel="user_name" bindValue="uuid"
                                    [ngClass]="isSubmit ? ejecucionForm.controls['user'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mt-2"
                                [ngClass]="isSubmit ? ejecucionForm.controls['execution_action'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Acción ejecutada</label>
                                <ng-select [items]="['Corregido', 'Descartado']" formControlName="execution_action"
                                    [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? ejecucionForm.controls['execution_action'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <!-- <div class="mt-2"
                                [ngClass]="isSubmit ? ejecucionForm.controls['quantity'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="quantity">Cantidad</label>
                                <input class="form-control" id="quantity" formControlName="quantity" />
                                <div *ngIf="ejecucionForm.get('quantity')?.errors?.['exceedsNoConformidad']"
                                    class="text-red-600 text-sm mt-1">
                                    La cantidad ingresada no puede ser mayor a la cantidad de la no conformidad.
                                </div>
                            </div> -->

                            <div class="mt-2"
                                [ngClass]="isSubmit ? ejecucionForm.controls['execution_comments'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="execution_comments">Comentarios </label>
                                <textarea class="form-control" id="execution_comments"
                                    formControlName="execution_comments" rows="1"></textarea>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button class="btn btn-primary mr-3" (click)="confirmarEjecucion()">
                                        Confirmar
                                    </button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModalDisposicionOEjecucion()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>