<div class="panel mt-6 pb-0">

    <div class="mb-3">
        <a href="javascript:void(0)" (click)="volver()" class="text-primary cursor-pointer">
            ← Volver a la quinta
        </a>
    </div>

    <div class="mb-5 flex flex-wrap items-center gap-2">
        <h5 class="text-lg font-semibold dark:text-white-light">Visitas</h5>
        @if(actual_role === 'ROLE_ADMIN') {
        <button type="button" ngxTippy="Agregar visita" (click)="openModalVisita('NEW')">
            <icon-plus />
        </button>
        }
    </div>


    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="visitas && visitas.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="visitas && visitas.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ visitas.length }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Visita</th>
                    <th>
                        Fecha visita
                    </th>
                    <th>Estado</th>
                    <th>Comentarios</th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of visitas | slice: pageSize | slice: 0:itemsPerPage ; track data.id; let i = $index) {
                <tr>
                    <td class="whitespace-nowrap">{{ i+1}} </td>
                    <td class="whitespace-nowrap">{{ data.fechaVisita | date:'dd/MM/yyyy'}} </td>
                    <td class="whitespace-nowrap">{{data.estadoVisita}} </td>
                    <td class="whitespace-nowrap">{{data.comentarios}} </td>
                    <td>
                        <div class="flex items-center">
                            @if (actual_role === 'ROLE_ADMIN') {
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Imágenes"
                                    (click)="openModalImagenes(data)">
                                    <icon-file />
                                </button>
                            </div>
                            @if(data.estadoVisita === 'ABIERTA') {
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalVisita('EDIT',data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            }
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Info"
                                    (click)="openModalVisita('INFO',data)">
                                    <icon-info-circle />
                                </button>
                            </div>
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Eliminar"
                                    (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div>
                            @if(data.estadoVisita === 'ABIERTA') {
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Cerrar visita"
                                    (click)="cerrarVisita(data)">
                                    <icon-check-circle />
                                </button>
                            </div>
                            }
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="float-md-end" [collectionSize]="visitas.length" #numPages
                    [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
                </ngb-pagination>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerVisitas()">
                </ng-select>
            </div>
        </div>

    </div>

</div>


<div>
    <ngx-custom-modal #modalImagen class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        @if (imagenesVisita.length > 0) {
                        @if (imagenesVisita.length < 5) { <div class="form-group mb-2">
                            <label class="label-modal" for="imagenes">
                                Imágenes de la visita
                                <span>(Máximo 5)</span>
                            </label>
                            <input type="file" (change)="seleccionarImagen($event)" accept="image/*"
                                class="form-control mb-3" id="imagenes" multiple
                                [disabled]="selectedVisita.estadoVisita !== 'ABIERTA'">
                    </div>
                    }
                    <ngb-carousel [showNavigationIndicators]="false">
                        <ng-template ngbSlide *ngFor="let imagen of imagenesVisita; let i = index">
                            <div class="row mb-3">
                                <div class="col-12 d-flex justify-content-center">
                                    @if (imagenesVisita.length < 5) { <button type="button"
                                        [disabled]="selectedVisita.estadoVisita !== 'ABIERTA'"
                                        class="btn btn-wd btn-primary mr-4" (click)="agregarImagenes()">Agregar
                                        imágenes</button>
                                        }
                                        <button type="button" class="btn btn-wd btn-primary mr-4"
                                            [disabled]="selectedVisita.estadoVisita !== 'ABIERTA'"
                                            (click)="eliminarImagen(imagen, i)">Eliminar imagen</button>
                                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                                            style="z-index: 999" (click)="cerrarModalImagenes()">Cancelar</button>
                                </div>
                            </div>

                            <div class="picsum-img-wrapper">
                                <img [src]="imagen.dato" alt="Imagen {{ i }}" />
                            </div>

                        </ng-template>
                    </ngb-carousel>
                    }@else{
                    <div class="form-group mb-2">
                        <label class="label-modal" for="imagenes">
                            Imágenes de la quinta
                            <span>(Máximo 5)</span>
                        </label>
                        <input type="file" (change)="seleccionarImagen($event)" accept="image/*"
                            [disabled]="selectedVisita.estadoVisita !== 'ABIERTA'" class="form-control mb-3"
                            id="imagenes" multiple>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-wd btn-primary mr-4" (click)="agregarImagenes()"
                            [disabled]="selectedVisita.estadoVisita !== 'ABIERTA'">Agregar
                            imágenes</button>
                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                            (click)="cerrarModalImagenes()">Cancelar</button>
                    </div>


                    }

                </div>

            </div>
</div>
</ng-template>
</ngx-custom-modal>
</div>


<div>
    <ngx-custom-modal #modalVisita class="modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="visitaForm" (keydown.enter)="confirmarVisita()">

                            <div class="mb-2"
                                [ngClass]="isSubmit ? visitaForm.controls['integrantes'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Integrantes de la visita</label>
                                <ng-select [items]="usuariosActivos" bindLabel="nombre" bindValue="id"
                                    formControlName="integrantes" [virtualScroll]="true" [appendTo]="'body'"
                                    clearAllText="Limpiar" [multiple]="true"
                                    [ngClass]="isSubmit ? visitaForm.controls['integrantes'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="col-md-12 pr-1 mb-2">
                                <label>Fecha</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'd-m-Y',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" formControlName="fechaVisita" />
                            </div>

                            <div class="form-group col-12 mb-2">
                                <label for="comentarios">Comentarios</label>
                                <textarea type="text" class="form-control" id="comentarios"
                                    formControlName="comentarios">
                            </textarea>
                            </div>

                            <!-- Si es nueva, solo carga integrantes y fecha -->
                            <div class="row mt-2 g-3" *ngIf="selectedType !== 'NEW'" formArrayName="visitasParametros">
                                <div *ngFor="let visita of visitasParametros.controls; let i = index"
                                    class="col-12 col-lg-6">

                                    <div class="border rounded p-3 h-100 bg-white shadow-sm">
                                        <div [formGroupName]="i">

                                            <div class="text-center mb-3 border-bottom pb-2">
                                                <h5 class="card-title mb-2">
                                                    {{ visita.get('paramNombre')?.value }}
                                                </h5>

                                                <span class="badge bg-success text-wrap d-inline-block px-3 py-2">
                                                    {{ visita.get('principioAgroecologico')?.value }}
                                                </span>
                                            </div>

                                            <div
                                                class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 mb-3">
                                                <div class="form-check form-switch mb-0">
                                                    <input class="form-check-input" formControlName="cumple"
                                                        type="checkbox" [id]="'cumple-' + i" />
                                                    <label class="form-check-label" [for]="'cumple-' + i">
                                                        Cumple
                                                    </label>
                                                </div>

                                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                                    [ngxTippy]="visita.get('situacionEsperable')?.value">
                                                    Situación esperable
                                                </button>
                                            </div>

                                            <div class="form-group mb-2">
                                                <label>Comentarios</label>
                                                <input type="text" formControlName="comentarios" class="form-control" />
                                            </div>

                                            <div class="form-group mb-2">
                                                <label>Aspiraciones familiares</label>
                                                <input type="text" formControlName="aspiracionesFamiliares"
                                                    class="form-control" />
                                            </div>

                                            <div class="form-group mb-2">
                                                <label>Sugerencias</label>
                                                <input type="text" formControlName="sugerencias" class="form-control" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    @if (selectedType != 'INFO') {
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarVisita()">Confirmar</button>
                                    }
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>