<div>
    <div class="absolute inset-0">
        <img src="/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover" />
    </div>

    <div
        class="relative flex min-h-screen items-center justify-center bg-[url(/assets/images/auth/map.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16">

        <div
            class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">
            <div
                class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[500px]">

                <div class="mx-auto w-full max-w-[1000px]">
                    <div class="mb-10">
                        <h1 class="text-3xl font-extrabold uppercase !leading-snug text-primary md:text-4xl">Registrate
                        </h1>
                        <p class="text-base font-bold leading-normal text-white-dark">Completá los campos obligatorios
                            (*)</p>
                    </div>


                    <form class="space-y-5" [formGroup]="registroFormGroup" (ngSubmit)="registrarUsuario()" novalidate>
                        <div class="grid grid-cols-1 gap-5 md:grid-cols-2">

                            <div [ngClass]="isSubmitRegistro ? registroFormGroup.controls['nombre'].errors ? 'has-error'
                                : 'has-success' : ''">
                                <label for=" customFname">Nombres *</label>
                                <input id="customFname" type="text" placeholder="" class="form-control"
                                    formControlName="nombre" />
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['nombre'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['nombre'].errors">
                                    <p class="mt-1 text-danger">Ingresa nombre</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['apellido'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="apellido">Apellidos *</label>
                                <input id="apellido" type="text" placeholder="" class="form-control"
                                    formControlName="apellido" />
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['apellido'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['apellido'].errors">
                                    <p class="mt-1 text-danger">Ingresa apellido</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['usuario'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="customLname">Usuario *</label>
                                <input id="customLname" type="text" placeholder="" class="form-control"
                                    formControlName="usuario" />
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['usuario'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['usuario'].errors">
                                    <p class="mt-1 text-danger">Ingresa usuario</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['email'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="email">Email *</label>
                                <input id="email" type="text" placeholder="" class="form-control"
                                    formControlName="email" />
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['email'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['email'].errors">
                                    <p class="mt-1 text-danger">Ingresa email</p>
                                </ng-container>
                            </div>


                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['password'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Contraseña *</label>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="password">
                                    <fa-icon [icon]="showPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                        style="cursor: pointer;" (click)="togglePassword()"></fa-icon>
                                </div>
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['password'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['password'].errors">
                                    <p class="mt-1 text-danger">Ingresa contraseña</p>
                                </ng-container>
                            </div>


                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['confirmPassword'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Confirmar contraseña *</label>
                                <div class="input-group">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="confirmPassword">
                                    <fa-icon [icon]="showConfirmPassword ? iconEyeSlash : iconEye"
                                        class="input-group-text" style="cursor: pointer;"
                                        (click)="toggleConfirmPassword()"></fa-icon>
                                </div>
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['confirmPassword'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['confirmPassword'].errors">
                                    <p class="mt-1 text-danger">Ingresa contraseña</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['tipoDocumento'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="tipoDocumento">Tipo documento</label>
                                <ng-select [items]="documentos" bindLabel="name" bindValue="uuid"
                                    formControlName="tipoDocumento">
                                </ng-select>
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['tipoDocumento'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['tipoDocumento'].errors">
                                    <p class="mt-1 text-danger">Selecciona tipo de documento</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['numeroDocumento'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="numeroDocumento">Número documento</label>
                                <input id="numeroDocumento" type="text" placeholder="" class="form-control"
                                    formControlName="numeroDocumento" />
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['numeroDocumento'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['numeroDocumento'].errors">
                                    <p class="mt-1 text-danger">Ingresa número de documento</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['cuit'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="cuit">CUIT</label>
                                <input id="cuit" type="text" placeholder="" class="form-control"
                                    formControlName="cuit" />
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['cuit'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['cuit'].errors">
                                    <p class="mt-1 text-danger">Ingresa número de CUIT</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['genero'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="genero">Género</label>
                                <!-- <input id="genero" type="text" placeholder="" class="form-control"
                                    formControlName="genero" /> -->
                                <ng-select [items]="generos" bindLabel="name" bindValue="uuid" formControlName="genero">
                                </ng-select>
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['genero'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['genero'].errors">
                                    <p class="mt-1 text-danger">Selecciona género</p>
                                </ng-container>
                            </div>




                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['pais'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="pais">País</label>
                                <ng-select [items]="paises" bindLabel="name" bindValue="uuid" formControlName="pais">
                                </ng-select>
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['pais'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['pais'].errors">
                                    <p class="mt-1 text-danger">Selecciona país</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['provincia'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="provincia">Provincia</label>
                                <ng-select [items]="provincias" bindLabel="name" bindValue="uuid"
                                    formControlName="provincia">
                                </ng-select>
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['provincia'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['provincia'].errors">
                                    <p class="mt-1 text-danger">Selecciona provincia</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['ciudad'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="ciudad">Ciudad</label>
                                <ng-select [items]="ciudades" bindLabel="name" bindValue="uuid" formControlName="ciudad"
                                    [virtualScroll]="true">
                                </ng-select>
                                <ng-container *ngIf="isSubmitRegistro && !registroFormGroup.controls['ciudad'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container *ngIf="isSubmitRegistro && registroFormGroup.controls['ciudad'].errors">
                                    <p class="mt-1 text-danger">Selecciona ciudad</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['direccionCalle'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="direccionCalle">Calle</label>
                                <input id="direccionCalle" type="text" placeholder="" class="form-control"
                                    formControlName="direccionCalle" />
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['direccionCalle'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['direccionCalle'].errors">
                                    <p class="mt-1 text-danger">Ingresa calle</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['direccionNumero'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="direccionNumero">Número</label>
                                <input id="direccionNumero" type="text" placeholder="" class="form-control"
                                    formControlName="direccionNumero" />
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['direccionNumero'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['direccionNumero'].errors">
                                    <p class="mt-1 text-danger">Ingresa numero</p>
                                </ng-container>
                            </div>

                            <div
                                [ngClass]="isSubmitRegistro ? registroFormGroup.controls['direccionDetalle'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="direccionDetalle">Detalle dirección</label>
                                <input id="direccionDetalle" type="text" placeholder="" class="form-control"
                                    formControlName="direccionDetalle" />
                                <ng-container
                                    *ngIf="isSubmitRegistro && !registroFormGroup.controls['direccionDetalle'].errors">
                                    <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                                </ng-container>
                                <ng-container
                                    *ngIf="isSubmitRegistro && registroFormGroup.controls['direccionDetalle'].errors">
                                    <p class="mt-1 text-danger">Ingresa descripción</p>
                                </ng-container>
                            </div>


                        </div>

                        <button type="submit" class="btn btn-primary !mt-6 w-full">Registrar</button>

                    </form>





                    <div class="text-center dark:text-white mt-4">
                        ¿ Ya tenes cuenta ?
                        <a routerLink="/auth/boxed-signin"
                            class="uppercase text-primary underline transition hover:text-black dark:hover:text-white">
                            INICIA SESIÓN
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>