<div class="panel mt-6 pb-0">

    <div class="mb-5 flex flex-wrap items-center gap-2">
        <h5 class="text-lg font-semibold dark:text-white-light">Tipos de productos</h5>
        <button type="button" ngxTippy="Agregar tipo de producto" (click)="openModalNuevoTipo('NEW')">
            <icon-plus />
        </button>
        <button type="button" ngxTippy="Activar filtros" (click)="toggleFilter()">
            <icon-search />
        </button>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="tiposProductos && tiposProductos.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="tiposProductos && tiposProductos.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th style="cursor: pointer;" (click)="cambiarOrdenamiento('name')">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Nombre
                            <fa-icon [icon]="ordenamiento['name']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon>
                        </span>
                    </th>
                    <th style="cursor: pointer;" (click)="cambiarOrdenamiento('code')">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Código
                            <fa-icon [icon]="ordenamiento['code']  === 'asc' ? iconArrowUp : iconArrowDown"></fa-icon>
                        </span>
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Es proceso
                    </th>
                    <th>
                        Es compuesto
                    </th>
                    <th>
                        Debe ser trazable
                    </th>
                    <th>
                        Control de stock
                    </th>
                    <th>
                        Puede ser provisto
                    </th>
                    <th>
                        Puede ser comprado
                    </th>
                    <th>
                        Puede ser producido
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (showFilter) {
                <tr>
                    <td>
                        <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.name.value"
                            (input)="obtenerTiposProductos()" />
                    </td>
                    <td>
                        <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.code.value"
                            (input)="obtenerTiposProductos()" />
                    </td>
                    <td></td>
                    <td></td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.is_process.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.product_compound.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.product_must_be_traceable.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.stock_controlled.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.can_be_provided.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.can_be_purchased.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                    <td>
                        <ng-select [items]="opcionesSiNo" bindLabel="label" bindValue="value"
                            [(ngModel)]="filtros.can_be_produced.value" [clearable]="false" class="w-full"
                            (change)="obtenerTiposProductos()" [appendTo]="'body'">
                        </ng-select>
                    </td>

                </tr>
                }
                @for(data of tiposProductos | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ data.name}} </td>
                    <td class="whitespace-nowrap">{{ data.code}} </td>
                    <td class="whitespace-nowrap">{{ data.description}} </td>
                    <td class="whitespace-nowrap">{{ data.color}} </td>

                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.is_process disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>


                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.product_compound disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.product_must_be_traceable disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.stock_controlled disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.can_be_provided disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative flex-shrink-0">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]="data.can_be_purchased" disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300"></span>
                            </label>
                            @if (data.can_be_purchased) {
                            <button type="button" class="flex items-center justify-center ltr:ml-1 rtl:mr-1"
                                ngxTippy="Editar parámetros de cálculo de costos" (click)="openModalCostos(data)">
                                <icon-adjustments class="w-6 h-6"/>
                            </button>
                            }
                        </div>
                    </td>


                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    id="custom_switch_checkbox2" [checked]=data.can_be_produced disabled />
                                <span for="custom_switch_checkbox2"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                        </div>
                    </td>

                    <td>
                        <div class="flex items-center">
                            @if(!isProcesoIPLadie(data)){
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalNuevoTipo('EDIT', data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerTiposProductos()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerTiposProductos()">
                </ng-select>
            </div>
        </div>

    </div>

</div>

<div>
    <ngx-custom-modal #modalTipoProductos class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="tiposProductosForm" (keydown.enter)="confirmarTipoProducto()">

                            <div class="mb-3"
                                [ngClass]="isSubmit ? tiposProductosForm.controls['name'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Nombre del tipo de producto</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>

                            <div class="mb-3"
                                [ngClass]="isSubmit ? tiposProductosForm.controls['code'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Código</label>
                                <input type="text" class="form-control" formControlName="code">
                            </div>

                            <div class="mb-3"
                                [ngClass]="isSubmit ? tiposProductosForm.controls['description'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="description">Descripción</label>
                                <textarea class="form-control" id="description" formControlName="description"
                                    rows="1"></textarea>
                            </div>

                            <div class="mb-3"
                                [ngClass]="isSubmit ? tiposProductosForm.controls['code'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Color</label>
                                <input type="text" [value]="color" (click)="togglePicker()" readonly
                                    class="form-control" formControlName="color" />
                                <div *ngIf="showPicker" style="position: absolute; top: 40px; z-index: 100;">
                                    <color-sketch [color]="color" formControlName="color"
                                        (onChangeComplete)="onColorChange($event)"></color-sketch>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row">
                                <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-2">
                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="is_process" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Es proceso</span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="product_compound" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Es compuesto</span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2"
                                                formControlName="product_must_be_traceable" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Debe ser trazable</span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="stock_controlled" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Tiene control de stock</span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="can_be_provided" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Puede ser provisto</span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="can_be_purchased" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Puede ser comprado </span>
                                    </div>

                                    <div class="flex items-center gap-2 mt-2">
                                        <label class="w-12 h-6 relative">
                                            <input type="checkbox"
                                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                                id="custom_switch_checkbox2" formControlName="can_be_produced" />
                                            <span for="custom_switch_checkbox2"
                                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                            </span>
                                        </label>
                                        <span>Puede ser producido</span>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarTipoProducto()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>


<div>
    <ngx-custom-modal #modalCostos class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="gastosForm" (keydown.enter)="confirmarCostos()">

                            <div
                                [ngClass]="isSubmit ? gastosForm.controls['cantidadCompras'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Cantidad de compras</label>
                                <input type="number" class="form-input w-full py-1.5 text-sm"
                                    formControlName="cantidadCompras" />
                            </div>
                            <div class="mt-2"
                                [ngClass]="isSubmit ? gastosForm.controls['funcionCalculo'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Función de cálculo</label>
                                <ng-select [items]="['Máximo','Promedio', 'Mínimo']" formControlName="funcionCalculo"
                                    [clearable]="false" placeholder="Seleccione" class="w-full">
                                </ng-select>
                            </div>


                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarCostos()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModalCostos()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>