<div class="panel pb-0">

    <div class="mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" ngxTippy="Agregar componente" (click)="openModalComponente('NEW')">
            <icon-plus />
        </button>
    </div>


    <div class="d-flex align-items-center gap-2 mt-3 mb-3">
        <label class="mb-0">Proceso:</label>
        <ng-select [items]="procesos" bindLabel="name" bindValue="uuid" [virtualScroll]="true" [appendTo]="'body'"
            class="w-auto" style="min-width: 50%;" [(ngModel)]="procesoActivo" [disabled]="!isEdicionProceso"
            [clearable]="false" notFoundText="No hay procesos">
        </ng-select>
        <div class="flex items-center">
            @if (!isEdicionProceso) {
            <div>
                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar" (click)="editarProceso();">
                    <icon-pencil />
                </button>
            </div>

            }@else {
            <div>
                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Guardar" (click)="guardarProceso();">
                    <icon-circle-check />
                </button>
            </div>
            }
            <div>
                <button type="button" ngxTippy="Eliminar">
                    <icon-trash-lines />
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="componentes && componentes.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="componentes && componentes.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Orden
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Componente
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Cantidad
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Precio unitario actual
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Precio total actual
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Proveedor
                        </span>
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of componentes | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track
                data.uuid) {
                <tr [ngClass]="{
                      'tr-assign-serial': data.child_product.assign_serial_number === 1,
                      'tr-has-serial': data.child_product.has_serial_number === 1
                    }">
                    <td class="whitespace-nowrap">{{ index+1}} </td>
                    <td class="whitespace-nowrap">{{ data.child_product.name}}
                        <span *ngIf="data.child_product.product_type.name === 'Procesos IP LADIE'"
                            class="badge bg-warning text-white ms-2">
                            PROCESO
                        </span>
                    </td>
                    <td class="whitespace-nowrap">{{ mostrarCantidad(data) }} </td>
                    <td class="whitespace-nowrap"> $ {{data.unit_price}} </td>
                    <td class="whitespace-nowrap"> $ {{data.unit_price}} </td>
                    <td class="whitespace-nowrap"> {{getNombreCompletoProveedor(data)}} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                    (click)="openModalComponente('EDIT', data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerComponentes()" />
            </div>

            <div class="col">
                <div class="row align-items-center float-md-end">
                    <div class="col-auto">
                        <label for="paginacion">Ítems por página:</label>
                    </div>
                    <div class="col-auto">
                        <select id="paginacion" class="form-control" (change)="obtenerComponentes()"
                            [(ngModel)]="itemsPerPage">
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=20>20</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- MODAL DATO DE CONTACTO -->
<div>
    <ngx-custom-modal #modalComponente class="modal-top animate extra-large-modal animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="componenteForm" (keydown.enter)="confirmarComponente()">

                            <div class="mb-2">
                                <label>Componente</label>
                                <ng-select [items]="productos" bindLabel="name" bindValue="uuid"
                                    formControlName="child_product_uuid" [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? componenteForm.controls['child_product_uuid'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mb-2"
                                [ngClass]="isSubmit ? componenteForm.controls['quantity'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Cantidad</label>
                                <input type="text" class="form-control" formControlName="quantity"
                                    [placeholder]="placeholderCantidad">
                            </div>

                            <div class="flex-grow-1">
                                <label for="proveedor">Proveedor</label>
                                <ng-select [items]="proveedores" bindLabel="nombreCompleto" bindValue="uuid"
                                    clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                    formControlName="supplier_uuid" [appendTo]="'body'"
                                    notFoundText="No hay proveedores" class="w-1/3 min-w-[200px]"
                                    [ngClass]="isSubmit ? componenteForm.controls['supplier_uuid'].errors ? 'has-error' : 'has-success' : ''"></ng-select>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarComponente()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>