<div class="panel pb-4">

    @if (componenteProceso.length === 0) {
    <div class="mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" ngxTippy="Agregar proceso" (click)="openModalProceso('NEW')"
            [disabled]="!isProductoCompuesto()" class="disabled:opacity-50 disabled:cursor-not-allowed">
            <icon-plus />
        </button>
    </div>

    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> El producto no posee proceso
                activo</strong></span>
    </div>
    } @else {
    <div class="table-responsive mb-3">
        <table class="table-hover">
            <thead>
                <tr>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Proceso
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Precio unitario actual
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Proveedor por defecto
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Acciones
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of componenteProceso | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track
                data.uuid) {
                <tr>
                    <td class="whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor-pointer"
                        (click)="goToProduct(data.child_product)"> {{ data.child_product.name}}</td>
                    <td class="whitespace-nowrap"> $ {{data.unit_price}} </td>
                    <td class="whitespace-nowrap"> {{getNombreCompletoProveedor(data)}} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button ngxTippy="Editar" [disabled]="!isProductoCompuesto()"
                                    class="ltr:mr-3 rtl:ml-2 disabled:opacity-50 disabled:cursor-not-allowed"
                                    (click)="openModalProceso('EDIT')">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button ngxTippy="Eliminar" (click)="openSwalEliminarProcesoActivo()"
                                    [disabled]="!isProductoCompuesto()"
                                    class="disabled:opacity-50 disabled:cursor-not-allowed">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }


    <div class="mt-3 mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" [disabled]="!isProductoCompuesto()" ngxTippy="Agregar componente"
            (click)="openModalComponente('NEW')" class="disabled:opacity-50 disabled:cursor-not-allowed">
            <icon-plus />
        </button>
    </div>

    @if (componentes.length === 0) {
    <div
        class="mt-3 flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> El producto no posee
                componentes</strong></span>
    </div>
    } @else {
    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="componentes && componentes.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="componentes && componentes.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Orden
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Componente
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Cantidad
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Precio unitario actual
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Precio total actual
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Proveedor por defecto
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Comentarios
                        </span>
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of componentes | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track
                data.uuid) {
                <tr [ngClass]="{
                          'tr-assign-serial': data.child_product.assign_serial_number === 1,
                          'tr-has-serial': data.child_product.has_serial_number === 1
                        }">
                    <td class="whitespace-nowrap">{{ data.order}} </td>
                    <td class="whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor-pointer"
                        (click)="goToProduct(data.child_product)"> {{ data.child_product.name}}</td>
                    <td class="whitespace-nowrap">{{ mostrarCantidad(data) }} </td>
                    <td class="whitespace-nowrap"> $ {{data.unit_price}} </td>
                    <td class="whitespace-nowrap"> $ {{data.unit_price}} </td>
                    <td class="whitespace-nowrap"> {{getNombreCompletoProveedor(data)}} </td>
                    <td class="whitespace-nowrap" [ngxTippy]="getTippyComments(data)"> {{ getComments(data)}}
                    </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" [disabled]="!isProductoCompuesto()"
                                    class="ltr:mr-3 rtl:ml-2 disabled:opacity-50 disabled:cursor-not-allowed"
                                    ngxTippy="Editar" (click)="openModalComponente('EDIT', data)">
                                    <icon-pencil />
                                </button>
                            </div>
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)"
                                    [disabled]="!isProductoCompuesto()"
                                    class="disabled:opacity-50 disabled:cursor-not-allowed">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerComponentes()" />
            </div>

            <div class="col">
                <div class="row align-items-center float-md-end">
                    <div class="col-auto">
                        <label for="paginacion">Ítems por página:</label>
                    </div>
                    <div class="col-auto">
                        <select id="paginacion" class="form-control" (change)="obtenerComponentes()"
                            [(ngModel)]="itemsPerPage">
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=20>20</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    }


</div>

<!-- MODAL PROCESOS -->
<div>
    <ngx-custom-modal #modalProceso class="modal-top animate extra-large-modal animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModalProceso}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="row justify-content-center">

                <div class="col-md-12">

                    <div class="mb-2">
                        <label>Proceso</label>
                        <ng-select [items]="procesos" bindLabel="name" bindValue="uuid" [virtualScroll]="true"
                            [appendTo]="'body'" [(ngModel)]="procesoActivo" [clearable]="false"
                            notFoundText="No hay procesos">
                        </ng-select>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-wd btn-primary mr-4"
                                [disabled]="!procesoActivo || (componenteProceso.length > 0 && componenteProceso[0].child_product?.uuid === procesoActivo)"
                                (click)="guardarProceso()">Confirmar</button>
                            <button id="back-button-with-border" type="button" class="btn btn-wd"
                                (click)="cerrarModalProceso()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<!-- MODAL COMPONENTE -->
<div>
    <ngx-custom-modal #modalComponente class="modal-top animate extra-large-modal animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">{{tituloModal}}</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="componenteForm" (keydown.enter)="confirmarComponente()">

                            <div class="mb-2">
                                <label>Componente</label>
                                <ng-select [items]="productos" bindLabel="name" bindValue="uuid"
                                    notFoundText="No hay componentes" formControlName="child_product_uuid"
                                    [virtualScroll]="true" [appendTo]="'body'"
                                    [ngClass]="isSubmit ? componenteForm.controls['child_product_uuid'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div class="mb-2"
                                [ngClass]="isSubmit ? componenteForm.controls['quantity'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Cantidad</label>
                                <input type="text" class="form-control" formControlName="quantity"
                                    [placeholder]="placeholderCantidad">
                            </div>

                            <div class="flex-grow-1">
                                <label for="proveedor">Proveedor</label>
                                <ng-select [items]="proveedores" bindLabel="nombreCompleto" bindValue="uuid"
                                    clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                    formControlName="supplier_uuid" [appendTo]="'body'"
                                    notFoundText="No hay proveedores" class="w-1/3 min-w-[200px]"
                                    [ngClass]="isSubmit ? componenteForm.controls['supplier_uuid'].errors ? 'has-error' : 'has-success' : ''"></ng-select>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarComponente()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>