<div class="panel pb-0">
    <div class="mb-5 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" ngxTippy="Agregar persona de contacto" (click)="openModalContacto('NEW')">
            <icon-plus />
        </button>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="contactos && contactos.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="contactos && contactos.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Nombre completo
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Documento
                        </span>
                    </th>
                    <th style="cursor: pointer;">
                        <span style="display: inline-flex; align-items: center; gap: 10px;">
                            Cuit
                        </span>
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(data of contactos | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                <tr>
                    <td class="whitespace-nowrap">{{ showName(data) }} </td>
                    <td class="whitespace-nowrap">{{ data.contact?.human?.document_number}} </td>
                    <td class="whitespace-nowrap">{{ showCuit(data) }} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <!-- <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                        (click)="openModalContacto('EDIT', data)">
                                        <icon-pencil />
                                    </button> -->
                            </div>
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerContactos()" />
            </div>

            <div class="col">
                <div class="row align-items-center float-md-end">
                    <div class="col-auto">
                        <label for="paginacion">Ítems por página:</label>
                    </div>
                    <div class="col-auto">
                        <select id="paginacion" class="form-control" (change)="obtenerContactos()"
                            [(ngModel)]="itemsPerPage">
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=20>20</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div>
    <ngx-custom-modal #modalContacto class="modal-top extra-large-modal">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                @if(altaPersona) {
                <button class="btn btn-wd position-absolute start-0" id="back-button-with-border" (click)="volver()">
                    <fa-icon [icon]="iconArrowLeft" style="color: #ada8a8"></fa-icon>
                    Atrás
                </button>
                }
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>

            <form [formGroup]="tipoPersonaForm">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="text-center">

                            <div class="form-check form-check-inline">
                                <label class="inline-flex mr-3" for="personafisica">
                                    <input class="form-radio" type="radio" name="tipoPersona" id="personafisica"
                                        value="fisica" formControlName="tipoPersona">
                                    <span style="cursor: pointer;">Persona física</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="inline-flex mr-3" for="personajuridica">
                                    <input class="form-radio" type="radio" name="tipoPersona" id="personajuridica"
                                        value="juridica" formControlName="tipoPersona">
                                    <span style="cursor: pointer;">Persona jurídica</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            @if (!altaPersona) {

            <!-- </div> -->



            <div class="mb-5 flex flex-col md:flex-row md:items-center justify-between">
                <!-- Botón Agregar Cuenta Bancaria -->
                <button type="button" ngxTippy="Agregar nueva persona" (click)="altaNuevaPersona();">
                    <icon-plus />
                </button>

                <!-- Contenedor del Switch -->
                <div class="flex items-center gap-2">
                    <span>Filtros de búsqueda</span>
                    <label class="w-12 h-6 relative">
                        <input type="checkbox"
                            class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                            id="custom_switch_checkbox2" (change)="toggleFilter()" />
                        <span for="custom_switch_checkbox2"
                            class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                        </span>
                    </label>
                </div>
            </div>


            <!-- TABLA  BÚSQUEDA -->
            <div class="row mb-2">
                <div class="col-6">
                    <span *ngIf="personas && personas.length > 0" class="float-md-start color-gris">
                        Página: {{ currentPage_buscar}}/{{numPages.pageCount }}
                    </span>
                </div>
                <div class="col-6" style="text-align: right;">
                    <span *ngIf="personas && personas.length > 0" class="float-md-end color-gris">
                        Ítems: {{itemsInPage_buscar}}/{{ total_rows_buscar }}
                    </span>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table-hover">
                    <thead>
                        <tr>
                            @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Nombre
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Apellido
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Documento
                                </span>
                            </th>
                            } @else {
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Razón social
                                </span>
                            </th>
                            }
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Cuit
                                </span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (showFilterPersonas) {
                        <tr>
                            @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {

                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.firstname.value" (input)="obtenerPersonas()" />
                            </td>
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.lastname.value" (input)="obtenerPersonas()" />
                            </td>
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.document_number.value"
                                    (input)="obtenerPersonas()" />
                            </td>
                            }@else {
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.company_name.value"
                                    (input)="obtenerPersonas()" />
                            </td>
                            }
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.cuit.value" (input)="obtenerPersonas()" />
                            </td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                        }
                        @for(data of (personas | slice: 0:itemsPerPage_buscar) ; track data.uuid) {
                        <tr (click)="agregarPersonaDeContacto(data)" style="cursor: pointer;">
                            @if(tipoPersonaForm.get('tipoPersona')?.value === 'fisica') {
                            <td class="whitespace-nowrap">{{ data.firstname }} </td>
                            <td class="whitespace-nowrap">{{ data.lastname }} </td>
                            <td class="whitespace-nowrap">{{ data.document_number }}</td>
                            }@else {
                            <td class="whitespace-nowrap">{{ data.company_name }} </td>
                            }
                            <td class="whitespace-nowrap">{{ data.cuit }} </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="row mt-2 mb-2">
                    <div class="col">
                        <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows_buscar"
                            [pageSize]="itemsPerPage_buscar" [(page)]="currentPage_buscar" [maxSize]="2" [rotate]="true"
                            #numPages [boundaryLinks]="true" (pageChange)="obtenerPersonas()" />
                    </div>

                    <div class="col">
                        <div class="row align-items-center float-md-end">
                            <div class="col-auto">
                                <label for="paginacion">Ítems por página:</label>
                            </div>
                            <div class="col-auto">
                                <select id="paginacion" class="form-control" (change)="obtenerPersonas()"
                                    [(ngModel)]="itemsPerPage_buscar">
                                    <option value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=20>20</option>
                                    <option value=50>50</option>
                                    <option value=100>100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            } @else {
            <form [formGroup]="contactoForm">
                <div class="flex flex-col sm:flex-row">
                    <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-3">

                        @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {
                        <!-- FISICA -->
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['firstname'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Nombre</label>
                            <input type="text" class="form-control" formControlName="firstname">
                        </div>

                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['lastname'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Apellido</label>
                            <input type="text" class="form-control" formControlName="lastname">
                        </div>
                        <div>
                            <label for="document_type_uuid">Tipo documento</label>
                            <ng-select [items]="documentos" bindLabel="name" bindValue="uuid" [selectOnTab]="true"
                                formControlName="document_type_uuid" clearAllText="Limpiar"
                                [ngClass]="isSubmit ? contactoForm.controls['document_type_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['document_number'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Documento</label>
                            <input type="text" class="form-control" formControlName="document_number">
                        </div>
                        <div>
                            <label for="gender_uuid">Género</label>
                            <ng-select [items]="generos" bindLabel="name" bindValue="uuid" formControlName="gender_uuid"
                                [selectOnTab]="true" clearAllText="Limpiar"
                                [ngClass]="isSubmit ? contactoForm.controls['gender_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>
                        }@else {
                        <!-- JURIDICA -->
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['company_name'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Razón social</label>
                            <input type="text" class="form-control" formControlName="company_name">
                        </div>
                        }
                        <!-- DATOS COMUNES  -->
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['cuit'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Cuit</label>
                            <input type="text" class="form-control" formControlName="cuit">
                        </div>
                        <!-- <div
                            [ngClass]="isSubmit ? contactoForm.controls['sigla'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Sigla</label>
                            <input type="text" class="form-control" formControlName="sigla">
                        </div> -->

                        <!-- <div>
                            <label for="estado">Estado</label>
                            <ng-select [items]="posiblesEstados" bindLabel="name" bindValue="uuid"
                                formControlName="estado" [virtualScroll]="true" [selectOnTab]="true"
                                clearAllText="Limpiar"
                                [ngClass]="isSubmit ? contactoForm.controls['estado'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>

                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['estadoComentario'].errors ? 'has-error' : 'has-success' : ''">
                            <label for="estadoComentario">Comentario sobre el estado</label>
                            <textarea class="form-control" id="estadoComentario" formControlName="estadoComentario"
                                rows="1"></textarea>
                        </div> -->

                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['street_name'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Calle</label>
                            <input type="text" class="form-control" formControlName="street_name">
                        </div>
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['door_number'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Número</label>
                            <input type="text" class="form-control" formControlName="door_number">
                        </div>
                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['address_detail'].errors ? 'has-error' : 'has-success' : ''">
                            <label for="address_detail">Detalle de la dirección</label>
                            <textarea class="form-control" id="address_detail" formControlName="address_detail"
                                rows="1"></textarea>
                        </div>

                        <div>
                            <label for="pais">País</label>
                            <ng-select [items]="paises" bindLabel="name" bindValue="uuid" formControlName="pais"
                                [virtualScroll]="true" [selectOnTab]="true" clearAllText="Limpiar"
                                [ngClass]="isSubmit ? contactoForm.controls['pais'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>

                        <div>
                            <label for="provincia">Provincia</label>
                            <ng-select [items]="provincias" bindLabel="name" bindValue="uuid"
                                formControlName="provincia" [selectOnTab]="true" clearAllText="Limpiar"
                                [ngClass]="isSubmit ? contactoForm.controls['provincia'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>

                        <div
                            [ngClass]="isSubmit ? contactoForm.controls['city_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            <label for="city_uuid">Ciudad</label>
                            <ng-select [items]="ciudades" bindLabel="name" bindValue="uuid" clearAllText="Limpiar"
                                formControlName="city_uuid" [virtualScroll]="true" [selectOnTab]="true"
                                [ngClass]="isSubmit ? contactoForm.controls['city_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>

                        <!-- <div
                            [ngClass]="isSubmit ? contactoForm.controls['comentarios'].errors ? 'has-error' : 'has-success' : ''">
                            <label for="comentarios">Comentarios</label>
                            <textarea class="form-control" id="comentarios" formControlName="comentarios"
                                rows="1"></textarea>
                        </div> -->

                        <!-- <div>
                            <label for="percepcionIVA">IVA (%)</label>
                            <input id="percepcionIVA" type="text" placeholder="" class="form-control"
                                formControlName="percepcionIVA" />
                        </div>
                        <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label flex items-center gap-2">
                                    <input class="form-checkbox" type="checkbox" formControlName="percepcionRG3337">
                                    <span class="form-check-sign">Percepción R.G. 3337</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label flex items-center gap-2">
                                    <input class="form-checkbox" type="checkbox" formControlName="percepcionIIBB">
                                    <span class="form-check-sign">Percepción IIBB</span>
                                </label>
                            </div>
                        </div> -->

                    </div>
                </div>
            </form>
            }



            <div class="row mt-2">
                <div class="col-12 d-flex justify-content-center">
                    @if(altaPersona){
                    <button class="btn btn-primary mr-3" (click)="confirmarContacto()">
                        Confirmar
                    </button>
                    }
                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                        (click)="cerrarModal()">Cancelar</button>
                </div>
            </div>


        </ng-template>
    </ngx-custom-modal>
</div>