<div class="z-40 shadow-sm" [ngClass]="{ 'dark text-white-dark': store.semidark && store.menu === 'horizontal'}">
    <div class="relative flex w-full items-center bg-white px-5 py-2.5 dark:bg-[#0e1726]">
        <div class="horizontal-logo flex items-center justify-between lg:hidden ltr:mr-2 rtl:ml-2">
            <a class="main-logo flex shrink-0 items-center">
                <img class="inline w-8 ltr:-ml-1 rtl:-mr-1" src="/assets/images/ladie-logo.png" alt=""
                    style="height: 20px; width: 125px;" />
            </a>

            <a href="javascript:;"
                class="collapse-icon flex flex-none rounded-full bg-white-light/40 p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:text-[#d0d2d6] dark:hover:bg-dark/60 dark:hover:text-primary lg:hidden ltr:ml-2 rtl:mr-2"
                (click)="storeData.dispatch({type: 'toggleSidebar'})">
                <icon-menu class="h-5 w-5" />
            </a>
        </div>
        <div class="hidden sm:block ltr:mr-2 rtl:ml-2">

        </div>
        <div
            class="flex items-center space-x-1.5 dark:text-[#d0d2d6] sm:flex-1 lg:space-x-2 ltr:ml-auto ltr:sm:ml-0 rtl:mr-auto rtl:space-x-reverse sm:rtl:mr-0">
            <div class="sm:ltr:mr-auto sm:rtl:ml-auto">

            </div>

            <div class="dropdown shrink-0">
                <div hlMenu class="!block">
                    <button type="button" hlMenuButton class="group relative block">
                        <icon-user class="h-6 w-6" />
                    </button>
                    <ul *hlMenuItems @toggleAnimation
                        class="top-11 w-[230px] !py-0 font-semibold text-dark dark:text-white-dark dark:text-white-light/90 ltr:right-0 rtl:left-0">
                        <li>
                            <div class="flex items-center px-4 py-4">
                                <div class="flex-none">
                                </div>
                                <div class="truncate ltr:pl-4 rtl:pr-4">
                                    <h4 class="text-base">
                                        {{usuarioLogueado.user_name}}
                                    </h4>
                                    <a
                                        class="text-black/60 hover:text-primary dark:text-dark-light/60 dark:hover:text-white">
                                        {{usuarioLogueado.email}}
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a routerLink="/dashboard/user-profile" *hlMenuItem="let menuItem"
                                class="dark:hover:text-white">
                                <!-- <icon-user class="h-4.5 w-4.5 shrink-0 ltr:mr-2 rtl:ml-2" /> -->
                                Mis datos
                            </a>
                        </li>
                        <li>
                            <a (click)="openModalCambiarClave()" *hlMenuItem="let menuItem"
                                class="dark:hover:text-white">
                                <!-- <icon-mail class="h-4.5 w-4.5 shrink-0 ltr:mr-2 rtl:ml-2" /> -->
                                Cambiar clave
                            </a>
                        </li>
                        @if (usuarioLogueado.roles.length > 1) {
                        <li>
                            <a (click)="openModalCambiarRol()" *hlMenuItem="let menuItem" class="dark:hover:text-white">
                                <!-- <icon-mail class="h-4.5 w-4.5 shrink-0 ltr:mr-2 rtl:ml-2" /> -->
                                Cambiar rol
                            </a>
                        </li>
                        }
                        <li class="border-t border-white-light dark:border-white-light/10">
                            <a href="#" (click)="cerrarSesion()" *hlMenuItem="let menuItem" class="!py-3 text-danger">
                                <!-- <icon-logout class="h-4.5 w-4.5 shrink-0 rotate-90 ltr:mr-2 rtl:ml-2" /> -->
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Horizontal menu -->
    <ul
        class="horizontal-menu hidden border-t border-[#ebedf2] bg-white px-6 py-1.5 font-semibold text-black dark:border-[#191e3a] dark:bg-[#0e1726] dark:text-white-dark lg:space-x-1.5 xl:space-x-8 rtl:space-x-reverse">

        @for(menu of menuItems ; track menu) {
        <li class="menu nav-item relative" style="cursor: pointer;">
            <a class="nav-link">
                <div class="flex items-center">
                    <!-- <icon-menu-dashboard class="shrink-0" /> -->
                    <span class="px-2" (click)="navigateTo(menu.route, $event)">{{ menu.label }}</span>
                </div>
                @if(menu.submenu?.length > 0) {
                <div class="right_arrow">
                    <icon-caret-down />
                </div>
                }
            </a>
            @if(menu.submenu?.length > 0) {
            <ul class="sub-menu">
                @for(sub of menu.submenu; track sub) {
                <li>
                    <a (click)="navigateTo(sub.route, $event)" class="cursor-pointer">
                        {{sub.label}}
                    </a>
                </li>
                }
            </ul>
            }
        </li>
        }

    </ul>
</div>




<div>
    <ngx-custom-modal #modalCambioRol class="modal-top extra-large-modal animate animate-fade-in">

        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Cambiar de rol</h5>
        </ng-template>

        <ng-template #modalBody>

            <div class="container d-flex flex-column justify-content-between">

                <div class="row justify-content-center flex-grow-1 align-items-center mt-5 mb-5">

                    <div class="col-md-12 flex flex-wrap justify-center text-center gap-3">
                        @for(rol of usuarioLogueado.roles; track rol) {
                        @if (rol.name != actual_role) {
                        <div class="flex">
                            <button class="btn btn-wd btn-primary m-2 text-xl" (click)="ingresarAlDashboard(rol)">
                                {{ rol.name }}
                            </button>
                        </div>
                        }
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                            (click)="closeModalCambioRol()">Cancelar</button>
                    </div>
                </div>

            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<div>
    <ngx-custom-modal #modalCambioClave class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Modificar clave</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="changePasswordForm" (keydown.enter)="confirmarCambioClave()">

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['password'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Clave actual</label>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="password">
                                    <fa-icon [icon]="showPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                        style="cursor: pointer;" (click)="togglePassword()"></fa-icon>
                                </div>
                            </div>

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['newPassword'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Clave nueva</label>
                                <div class="input-group">
                                    <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="newPassword">
                                    <fa-icon [icon]="showNewPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                        style="cursor: pointer;" (click)="toggleNewPassword()"></fa-icon>
                                </div>
                            </div>

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['confirmPassword'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Repetir clave nueva</label>
                                <div class="input-group">
                                    <input [type]="showNewConfirmPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="confirmPassword">
                                    <fa-icon [icon]="showNewConfirmPassword ? iconEyeSlash : iconEye"
                                        class="input-group-text" style="cursor: pointer;"
                                        (click)="toggleConfirmNewPassword()"></fa-icon>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarCambioClave()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="closeModalCambioClave()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>