<form class="mb-5 rounded-md border border-[#ebedf2] bg-white p-4 dark:border-[#191e3a] dark:bg-[#0e1726]">

    <div class="flex items-center justify-between p-4">
        <div>
            <h6 class="text-lg font-bold">Mi perfil</h6>
        </div>

        <div class="flex items-center">
            <div class="ltr:mr-4 rtl:ml-4">
                <button type="button" ngxTippy="Editar datos" class="hover:text-primary">
                    <icon-edit class="h-6 w-6"/>
                </button>
            </div>
            <div class="ltr:mr-4 rtl:ml-4">
                <button type="button" ngxTippy="Cambiar clave" class="hover:text-primary">
                    <icon-lock class="h-6 w-6" />
                </button>
            </div>
            <div class="ltr:mr-4 rtl:ml-4">
                <button type="button" ngxTippy="Cambiar rol" class="hover:text-primary">
                    <icon-refresh class="h-6 w-6" />
                </button>
            </div>
        </div>
    </div>



    <div class="flex flex-col sm:flex-row">
        <div class="grid flex-1 grid-cols-1 gap-5 sm:grid-cols-2">
            <div>
                <label for="profession">Email</label>
                <input id="profession" type="email" placeholder="Web Developer" class="form-input" />
            </div>
            <div>
                <label for="address">Usuario</label>
                <input id="address" type="text" placeholder="New York" class="form-input" />
            </div>
            <div>
                <label for="name">Nombres</label>
                <input id="name" type="text" placeholder="Jimmy Turner" class="form-input" />
            </div>
            <div>
                <label for="profession">Apellidos</label>
                <input id="profession" type="text" placeholder="Web Developer" class="form-input" />
            </div>
            <div>
                <label for="location">Género</label>
                <input id="location" type="text" placeholder="Location" class="form-input" />
            </div>
            <div>
                <label for="phone">País</label>
                <input id="phone" type="text" placeholder="+1 (530) 555-12121" class="form-input" />
            </div>
            <div>
                <label for="email">Provincia</label>
                <input id="email" type="email" placeholder="Jimmy@gmail.com" class="form-input" />
            </div>
            <div>
                <label for="web">Ciudad</label>
                <input id="web" type="text" placeholder="Enter URL" class="form-input" />
            </div>
            <div>
                <label class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox" />
                    <span class="relative text-white-dark checked:bg-none">Roles</span>
                </label>
            </div>

        </div>
    </div>

    @if (isEdicion) {
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-wd btn-primary mr-4">Confirmar</button>
            <button id="back-button-with-border" type="button" class="btn btn-wd">Cancelar</button>
        </div>
    </div>
    }


</form>