<div class="flex items-center justify-between mb-4">
    <div>
        <h6 class="text-lg font-bold">Mi perfil</h6>
    </div>

    <div class="flex items-center">
        <div class="ltr:mr-4 rtl:ml-4">
            <button type="button" ngxTippy="Editar datos" class="hover:text-primary" (click)="toggleEdicion()">
                <!-- <button type="button" ngxTippy="Editar datos" class="hover:text-primary"> -->
                <icon-edit class="h-6 w-6" />
            </button>
        </div>
        <div class="ltr:mr-4 rtl:ml-4">
            <button type="button" ngxTippy="Cambiar clave" class="hover:text-primary" (click)="openModalCambiarClave()">
            <!-- <button type="button" ngxTippy="Cambiar clave" class="hover:text-primary"> -->
                <icon-lock class="h-6 w-6" />
            </button>
        </div>
    </div>
</div>

@if (dataLoaded) {
<form [formGroup]="userForm">
    <div class="flex flex-col sm:flex-row">
        <div class="grid flex-1 grid-cols-1 gap-5 sm:grid-cols-2">
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" formControlName="email" />
            </div>
            <div [ngClass]="isSubmit ? userForm.controls['nombre'].errors ? 'has-error' : 'has-success' : ''">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" formControlName="nombre" />
            </div>
            <div [ngClass]="isSubmit ? userForm.controls['celular'].errors ? 'has-error' : 'has-success' : ''">
                <label for="celular">Celular</label>
                <input id="celular" type="text" class="form-control" formControlName="celular" />
            </div>
            <div>
                <label for="posicion">Posición*</label>
                <ng-select [items]="posiciones" bindLabel="nombre" formControlName="posicion"
                    [ngClass]="isSubmit ? userForm.controls['posicion'].errors ? 'has-error' : 'has-success' : ''">
                </ng-select>
            </div>
            @if(mostrarOrganizacion) {
            <div [ngClass]="isSubmit ? userForm.controls['organizacion'].errors ? 'has-error' : 'has-success' : ''">
                <label for="organizacion">Organización</label>
                <input id="organizacion" type="text" class="form-control" formControlName="organizacion" />
            </div>
            }

        </div>
    </div>
</form>
}

@if (isEdicion) {
<div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-wd btn-primary mr-4" (click)="confirmarEdicion()">Confirmar</button>
        <button id="back-button-with-border" type="button" class="btn btn-wd"
            (click)="cancelarEdicion()">Cancelar</button>
    </div>
</div>
}


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>


<div>
    <ngx-custom-modal #modalCambioClave class="modal-top animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Modificar clave</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="changePasswordForm" (keydown.enter)="confirmarCambioClave()">

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['password'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Clave actual</label>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="password">
                                    <fa-icon [icon]="showPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                        style="cursor: pointer;" (click)="togglePassword()"></fa-icon>
                                </div>
                            </div>

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['newPassword'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Clave nueva</label>
                                <div class="input-group">
                                    <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="newPassword">
                                    <fa-icon [icon]="showNewPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                        style="cursor: pointer;" (click)="toggleNewPassword()"></fa-icon>
                                </div>
                            </div>

                            <div
                                [ngClass]="isSubmitChangePassword ? changePasswordForm.controls['confirmPassword'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Repetir clave nueva</label>
                                <div class="input-group">
                                    <input [type]="showNewConfirmPassword ? 'text' : 'password'" class="form-control"
                                        formControlName="confirmPassword">
                                    <fa-icon [icon]="showNewConfirmPassword ? iconEyeSlash : iconEye"
                                        class="input-group-text" style="cursor: pointer;"
                                        (click)="toggleConfirmNewPassword()"></fa-icon>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarCambioClave()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="closeModalCambioClave()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>