<div class="panel mt-6 pb-0">

    <div class="mb-5 flex flex-col gap-2 md:flex-row md:items-center">
        <h5 class="text-lg font-semibold dark:text-white-light">Usuarios
        </h5>
        <button type="button" ngxTippy="Activar filtros" (click)="toggleFilter()">
            <icon-search />
        </button>
    </div>

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="usuarios && usuarios.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="usuarios && usuarios.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ usuarios.length }}
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Posición</th>
                    <th>Organización</th>
                    <th>Estado</th>
                    <th>¿Es administrador?</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (showFilter) {
                <tr>
                    <td>
                        <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.nombre" />
                    </td>
                    <td>
                        <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.email" />
                    </td>
                    <td> <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.posicion" />
                    </td>
                    <td> <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.organizacion" />
                    </td>
                    <td></td>
                </tr>
                }
                @for(data of filtrarDatos() | slice: pageSize | slice: 0:itemsPerPage ; track data.id) {
                <tr>
                    <td class="whitespace-nowrap">{{ data.nombre}} </td>
                    <td> {{data.email}} </td>
                    <td> {{data.posicionResponse.nombre}} </td>
                    <td> {{data.organizacion}} </td>
                    <td>
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox"
                                    (click)="openSwalCambiarEstadoUsuario(data, 'checkbox' + data.id)"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    [checked]="isVerified(data)" [id]="'checkbox' + data.id" />
                                <span for="custom_switch_checkbox5"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                            <span></span>
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center gap-2 mt-2">
                            <label class="w-12 h-6 relative">
                                <input type="checkbox" (click)="openSwalCambiarRol(data, 'checkbox-admin-' + data.id)"
                                    class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                    [checked]="data.isAdmin" [id]="'checkbox-admin-' + data.id" />
                                <span for="custom_switch_checkbox5"
                                    class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                                </span>
                            </label>
                            <span></span>
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center">
                            <!-- <div>
                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Ver información"
                                    (click)="openModalUsuarioView(data)">
                                    <icon-info-circle />
                                </button>
                            </div> -->
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)"
                                    [disabled]="data.email === usuarioLogueado.email">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>


        <div class="row mt-4 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <!-- <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="usuarios?.length"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerUsuarios()" /> -->

                <ngb-pagination class="float-md-end" [collectionSize]="usuarios.length" #numPages
                    [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)">
                </ngb-pagination>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerUsuarios()">
                </ng-select>
            </div>
        </div>


    </div>


</div>

<!-- <div>
    <ngx-custom-modal #modalUsuarioView class="modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Datos del usuario</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">

                        <form (keydown.enter)="cerrarModal()">
                            <div class="row mb-3">
                                <div class="col-6 pr-1">
                                    <label>Nombre</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [value]="usuarioView.human?.firstname"
                                            disabled />
                                    </div>
                                </div>
                                <div class="col-6 pr-1">
                                    <label>Apellido</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [value]="usuarioView.human?.lastname"
                                            disabled />
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-6 pr-1">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [value]="usuarioView.email" disabled />
                                    </div>
                                </div>

                                <div class="col-6 pr-1">
                                    <label>Usuario</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [value]="usuarioView.user_name"
                                            disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 pr-1">
                                    <label>País</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [value]="usuarioView.human?.person?.city?.district?.country?.name"
                                            disabled />
                                    </div>
                                </div>
                                <div class="col-4 pr-1">
                                    <label>Provincia</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [value]="usuarioView.human?.person?.city?.district?.name" disabled />
                                    </div>
                                </div>
                                <div class="col-4 pr-1">
                                    <label>Ciudad</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [value]="usuarioView.human?.person?.city?.name" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cerrar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div> -->


<!-- <div>
    <ngx-custom-modal #modalRoles class="modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Administración de roles</h5>
        </ng-template>

        <ng-template #modalBody>

            <div class="container">
                <div class="row justify-content-center mt-5">

                    <div class="col-md-12">

                        <form [formGroup]="rolesForm">
                            <div class="row">
                                <div class="col-12 pr-1">
                                    @for(rol of roles ; track rol.id) {
                                    <div class="form-check form-check-inline" style="justify-content: space-evenly;">
                                        <label class="form-check-label">
                                            <input class="form-checkbox" type="checkbox" [formControlName]="rol.name">
                                            <span class="form-check-sign">{{rol.name}}</span>
                                        </label>
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarRoles()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModalRoles()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </ng-template>
    </ngx-custom-modal>
</div> -->




<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>