<div>
    <div class="absolute inset-0">
        <img src="/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover" />
    </div>

    <div
        class="relative flex min-h-screen items-center justify-center bg-[url(/assets/images/auth/map.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16">

        <div
            class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">
            <div
                class="relative flex flex-col justify-center rounded-md bg-white/60 px-6 py-20 backdrop-blur-lg dark:bg-black/50 lg:min-h-[500px]">
                <div class="absolute end-6 top-6">

                </div>
                <div class="mx-auto w-full max-w-[440px]">
                    <div class="mb-7">
                        <h1 class="mb-3 text-2xl font-bold !leading-snug dark:text-white">Nueva contraseña</h1>
                        <p></p>
                    </div>

                    <form [formGroup]="resetPasswordForm">

                        <div
                            [ngClass]="isSubmitResetForm ? resetPasswordForm.controls['password'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Nueva contraseña</label>
                            <div class="input-group">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                    formControlName="password">
                                <fa-icon [icon]="showPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                    style="cursor: pointer;" (click)="toggleClave()"></fa-icon>
                            </div>
                        </div>

                        <div
                            [ngClass]="isSubmitResetForm ? resetPasswordForm.controls['confirmPassword'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Confirmar nueva contraseña</label>
                            <div class="input-group">
                                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                                    formControlName="confirmPassword">
                                <fa-icon [icon]="showConfirmPassword ? iconEyeSlash : iconEye" class="input-group-text"
                                    style="cursor: pointer;" (click)="toggleConfirmClave()"></fa-icon>
                            </div>
                            <!-- <ng-container
                                *ngIf="isSubmitResetForm && !resetPasswordForm.controls['confirmPassword'].errors">
                                <p class="mt-1 text-[#1abc9c]">¡Perfecto!</p>
                            </ng-container>
                            <ng-container
                                *ngIf="isSubmitResetForm && resetPasswordForm.controls['confirmPassword'].errors">
                                <p class="mt-1 text-danger">Ingresa nueva contraseña</p>
                            </ng-container> -->
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <button class="btn btn-wd btn-primary" (click)="confirmarReset()">Confirmar</button>
                                    <p style="cursor: pointer;" (click)="volverAlPanel()" class="mb-0">
                                        <fa-icon [icon]="iconLeftArrow"></fa-icon> Volver al login
                                    </p>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>