<div class="panel pb-4">

    <div class="mb-3 flex flex-col md:flex-row md:items-center justify-between">
        <button type="button" ngxTippy="Agregar archivo" (click)="openModalArchivo()">
            <icon-plus />
        </button>
    </div>


    @if (archivos.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee archivos</strong></span>
    </div>
    } @else {

    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th class="text-center align-middle w-auto whitespace-nowrap">Orden</th>
                    <th class="text-center align-middle w-auto"></th>
                    <th class="text-center align-middle w-auto whitespace-nowrap">Thumbnail</th>
                    <th class="text-center align-middle w-auto whitespace-nowrap">Descripción</th>
                    <th class="text-center align-middle whitespace-nowrap">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of archivos | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track data.uuid)
                {
                <tr>
                    <td class="text-center align-middle whitespace-nowrap">{{ data.order_column }}</td>
                    <td class="text-center px-0 w-auto">

                        @if (index < archivos.length-1) { <button class="text-gray-500 hover:text-blue-600 mr-4"
                            type="button" ngxTippy="Mover abajo" (click)="mover('down', data)">
                            <fa-icon [icon]="iconArrowDown"></fa-icon>
                            </button>
                            }

                            @if (index > 0) {
                            <button class="text-gray-500 hover:text-blue-600" type="button" ngxTippy="Mover arriba"
                                (click)="mover('up', data)">
                                <fa-icon [icon]="iconArrowUp"></fa-icon>
                            </button>
                            }
                    </td>



                    <td class="text-center align-middle w-auto">
                        @if (data.is_image) {
                        <img [src]="data.thumbnail_url" alt="{{ data.description }}" (click)="abrirArchivo(data.url)"
                            [ngxTippy]="data.description"
                            class="h-[100px] w-auto mx-auto object-contain cursor-pointer" />
                        }@else {
                        <img [src]="getImageByType(data.mime_type)" [ngxTippy]="data.description"
                            alt="{{ data.description }}" class="h-[100px] w-auto mx-auto object-contain cursor-pointer"
                            (click)="abrirArchivo(data.url)" />
                        }
                    </td>

                    <td class="text-center whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor-pointer"
                        (click)="abrirArchivo(data.url)">
                        {{data.description}} </td>

                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                    <icon-trash-lines />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    }


</div>



<!-- MODAL ARCHIVO -->
<div>
    <ngx-custom-modal #modalArchivo class="modal-top animate extra-large-modal animate-fade-in">
        <ng-template #modalHeader>
            <h5 class="text-lg font-semibold dark:text-white-light">Nuevo archivo</h5>
        </ng-template>

        <ng-template #modalBody>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <form [formGroup]="archivoForm" (keydown.enter)="confirmarArchivo()">

                            <div class="mb-2"
                                [ngClass]="isSubmit ? archivoForm.controls['descripcion'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Descripción</label>
                                <input type="text" class="form-control" formControlName="descripcion">
                            </div>

                            <div class="mb-4 mt-2">
                                <label class="block mb-1 text-sm font-medium">
                                    Archivo
                                    @if (archivoSeleccionado) {
                                    <button type="button" class="text-red-500 hover:text-red-700"
                                        (click)="borrarArchivo()" ngxTippy="Eliminar archivo">
                                        ✕
                                    </button>
                                    }
                                </label>

                                <div class="dropzone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                                    (drop)="onFileDrop($event)" [class.dragging]="isDragging">
                                    @if (!archivoSeleccionado) {
                                    <p>
                                        Arrastrá y soltá tu archivo aquí<br>
                                        <span class="text-sm text-gray-500">o hacé click para seleccionarlo</span>
                                    </p>
                                    } @else {
                                    <p class="text-sm text-gray-700">
                                        📎 {{ archivoSeleccionado.name }}
                                    </p>
                                    }
                                    <input type="file" (change)="onArchivoSeleccionado($event)" class="file-input"
                                        formControlName="archivo" accept="image/*,.pdf,.doc,.docx,.zip,.rar" />
                                </div>

                                <div *ngIf="isInvalidArchivo()" class="text-red-600 text-sm mt-1">
                                    ⚠️ Debes seleccionar un archivo.
                                </div>

                                <img *ngIf="archivoSeleccionado && archivoSeleccionado.type.startsWith('image/')"
                                    [src]="imagenPreview" class="w-20 h-20 object-cover mt-2 rounded" />
                            </div>


                            <div class="row mt-2">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarArchivo()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cerrarModal()">Cancelar</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>