<div class="panel pb-4">

    @if (producciones.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee producciones</strong></span>
    </div>
    } @else {

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="producciones && producciones.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{ last_page }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="producciones && producciones.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Fecha de producción</th>
                    <th>Cantidad</th>
                    <th>Lote / Partida</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                    <th>Fecha de estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of producciones | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track
                data.uuid)
                {
                <tr>
                    <td class="whitespace-nowrap"> {{ convertirFechaConHora(data.production_datetime) }} </td>
                    <td class="whitespace-nowrap"> {{data.quantity}} </td>
                    <td class="whitespace-nowrap"> {{ data.batch?.batch_identification }} </td>
                    <td class="whitespace-nowrap"> {{ data.responsible?.user_name }} </td>
                    <td class="whitespace-nowrap">
                        <span class="px-2 py-1 rounded-full text-white font-medium"
                            [ngStyle]="{ 'background-color': data.current_state.state.color }">
                            {{ data.current_state.state.name }}
                        </span>
                    </td>
                    <td class="whitespace-nowrap"> {{ convertirFechaConHora(data.current_state.datetime_from) }} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" ngxTippy="Ir a la producción"
                                    (click)="irALaProduccion($event, data)">
                                    <icon-arrow-forward />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 mb-3 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerProducciones()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerProducciones()">
                </ng-select>
            </div>
        </div>
    </div>
    }


</div>