<div class="panel pb-4">

    @if (compras.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee compras</strong></span>
    </div>
    } @else {

    <div class="row mb-2">
        <div class="col-6">
            <span *ngIf="compras && compras.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{ last_page }}
            </span>
        </div>
        <div class="col-6" style="text-align: right;">
            <span *ngIf="compras && compras.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Fecha de compra</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Moneda</th>
                    <th>Precio unitario</th>
                    <th>Precio unitario actualizado</th>
                    <th>Precio total</th>
                    <th>Precio total actualizado</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(data of compras | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track data.uuid)
                {
                <tr>
                    <td class="whitespace-nowrap">{{ convertirFechaConHora(data.transaction.transaction_datetime) }}
                    </td>
                    <td class="whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor-pointer"
                        (click)="irAlProveedor($event, getNombreProveedor(data.transaction.person)!.id)">
                        {{getNombreProveedor(data.transaction.person)!.value }}</td>
                    <td class="whitespace-nowrap"> {{ data.transaction.transaction_products[0].quantity }} </td>
                    <td class="whitespace-nowrap"> {{ data.transaction.currency.symbol }} </td>
                    <td class="whitespace-nowrap"> {{ data.transaction.transaction_products[0].unit_price }} </td>
                    <td class="whitespace-nowrap"> {{
                        getPrecioUnitarioActualizado(data) }} </td>
                    <td class="whitespace-nowrap"> {{ data.transaction.transaction_products[0].quantity *
                        data.transaction.transaction_products[0].unit_price }} </td>
                    <td class="whitespace-nowrap"> {{ data.transaction.transaction_products[0].quantity *
                        data.transaction.transaction_products[0].unit_price }} </td>
                    <td class="whitespace-nowrap"> {{ data.transaction.current_state.state.name }} </td>
                    <td>
                        <div class="flex items-center">
                            <div>
                                <button type="button" ngxTippy="Ir a la compra" (click)="irALaCompra($event, data)">
                                    <icon-arrow-forward />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 mb-3 gy-3">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerCompras()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerCompras()">
                </ng-select>
            </div>
        </div>
    </div>
    }


</div>