<div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
    <div class="overlay absolute z-[5] hidden h-full w-full rounded-md bg-black/60"
        [ngClass]="{ '!block xl:!hidden': isShowMailMenu }" (click)="isShowMailMenu = !isShowMailMenu"></div>

    <div class="panel dark:gray-50 absolute z-10 hidden h-full w-[520px] max-w-full flex-none space-y-3 overflow-hidden p-4 ltr:rounded-r-none rtl:rounded-l-none xl:relative xl:block xl:h-auto ltr:xl:rounded-r-md rtl:xl:rounded-l-md"
        [ngClass]="{ '!block': isShowMailMenu }">

        <!-- PANEL IZQUIERDO -->
        <div class="flex justify-end xl:hidden mb-2">
            <button (click)="isShowMailMenu = false" class="p-2 hover:text-primary">
                <icon-menu class="w-5 h-5" />
            </button>
        </div>

        <div class="flex h-full flex-col">

            <div class="flex items-center justify-between text-md mb-3">
                <button type="button" class="hover:text-primary" (click)="openModalVenta('NEW')" [disabled]="isEdicion"
                    [ngClass]="{
                        'text-gray-400 cursor-not-allowed': isEdicion
                      }">
                    <icon-plus class="mx-auto mb-1" />
                    Agregar venta
                </button>

                <button type="button" class="hover:text-primary" data-bs-toggle="offcanvas" [disabled]="isEdicion"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" [ngClass]="{
                        'text-gray-400 cursor-not-allowed': isEdicion
                      }">
                    <icon-settings class="mx-auto mb-1" />
                    Filtros avanzados
                </button>
            </div>

            <span *ngIf="ventas && ventas.length > 0" class="float-md-end color-gris">
                Ventas {{ total_rows }}
            </span>

            <div class="table-container flex-grow overflow-auto">
                <div class="table-responsive">
                    <table class="table-hover w-full">
                        <tbody>
                            @for(data of ventas ; let index = $index ;track data.uuid) {
                            <tr style="cursor: pointer;" [ngClass]="{'bg-blue-200': selectedVenta?.uuid === data.uuid}">
                                <td (click)="showDataVenta(data);" style="font-size: 12px;">
                                    <b>{{ showName(data) }} </b> - {{showDocumento(data)}} - {{showFecha(data)}}
                                </td>
                                <td class="w-0 text-right align-middle">
                                    <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(data)">
                                        <icon-trash-lines />
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w-full p-2 mt-auto">
                <div class="flex flex-col items-center justify-center sm:flex-row sm:justify-between mb-3">
                    <ngb-pagination class="ngb-pagination" [collectionSize]="total_rows" [pageSize]="itemsPerPage"
                        [(page)]="currentPage" [maxSize]="1" [rotate]="true" (pageChange)="obtenerVentas()">
                    </ngb-pagination>

                    <div class="flex items-center gap-1 mt-2 sm:mt-0">
                        <label for="paginacion" class="mb-0 text-sm text-gray-600">Ítems por página:</label>
                        <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label"
                            [clearable]="false" class="custom-select w-24" [dropdownPosition]="'top'"
                            (change)="obtenerVentas()">
                        </ng-select>
                    </div>
                </div>
                <div class="flex w-full">
                    <div class="relative flex-grow">
                        <input id="switchRight" type="text" placeholder="Buscar venta..." [(ngModel)]="filtroSimpleName"
                            (input)="obtenerVentasPorFiltroSimple()"
                            class="form-input w-full ltr:rounded-r-none rtl:rounded-l-none" />
                        <div class="absolute top-1/2 -translate-y-1/2 ltr:right-[11px] rtl:left-[11px]">
                            <icon-search />
                        </div>
                    </div>
                    <div
                        class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                        <label class="relative mb-0 h-4 w-7 cursor-pointer">
                            <input type="checkbox" (change)="obtenerVentasPorFiltroSimple();"
                                class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                id="custom_switch_checkbox2" [(ngModel)]="filtroSimpleContiene" />
                            <span
                                class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                        </label>
                        <span class="text-xs text-gray-600 ml-1">Contiene</span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- PANEL DERECHO -->
    <div class="panel h-full flex-1 overflow-x-hidden p-2">

        <!-- MENU ICONO OCULTO RESPONSIVE -->
        <div class="flex flex-wrap-reverse items-center justify-between ml-4 mt-2 gap-2 p-2">
            <h5 class="text-lg font-semibold dark:text-white-light min-w-0 flex items-center gap-2">
                Venta
                @if(ventas.length > 0 && selectedVenta) {
                {{selectedVenta.name}}
                }
            </h5>

            <div class="flex w-full items-center justify-between sm:w-auto">
                <div class="flex items-center ltr:mr-4 rtl:ml-4">
                    <button type="button" class="block hover:text-primary ltr:mr-3 rtl:ml-3 xl:hidden"
                        (click)="isShowMailMenu = !isShowMailMenu">
                        <icon-menu />
                    </button>
                </div>
            </div>
        </div>


        @if(selectedVenta) {
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="ventaForm">

            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex items-center justify-between">
                    <span></span>
                    <button type="button" class="ltr:ml-3 rtl:mr-2 hover:text-primary" ngxTippy="Editar"
                        (click)="openCloseEditarVenta()">
                        <icon-pencil />
                    </button>
                </legend>
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                    <div>
                        <label class="block font-medium">Fecha de venta</label>
                        <input type="text" mwlFlatpickr [options]="{ 
                            enableTime: false, 
                            dateFormat: 'Y-m-d',
                            time24hr: true,
                            enableSeconds: false
                        }" class="form-input" formControlName="fechaVenta" />
                    </div>

                    <div>
                        <label class="block font-medium">Estado de venta</label>
                        <ng-select [items]="posiblesEstadosTransaccion" bindLabel="name" bindValue="uuid"
                            clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                            notFoundText="No hay estados" placeholder="" class="w-1/3 min-w-[200px]"
                            formControlName="estadoVenta" [selectOnTab]="true">
                        </ng-select>
                    </div>

                    @if (isPersonaFisica()) {
                    <div>
                        <label class="block font-medium">Nombre</label>
                        <input type="text" class="form-control w-full" formControlName="nombre" />
                    </div>
                    <div>
                        <label class="block font-medium">Apellido</label>
                        <input type="text" class="form-control w-full" formControlName="apellido" />
                    </div>
                    <div>
                        <label class="block font-medium">Tipo Documento</label>
                        <input type="text" class="form-control w-full" formControlName="tipoDocumento" />
                    </div>
                    <div>
                        <label class="block font-medium">Número documento</label>
                        <input type="text" class="form-control w-full" formControlName="numeroDocumento" />
                    </div>
                    }
                    <div>
                        <label class="block font-medium">Calle</label>
                        <input type="text" class="form-control w-full" formControlName="calle" />
                    </div>
                    <div>
                        <label class="block font-medium">Número</label>
                        <input type="text" class="form-control w-full" formControlName="numero" />
                    </div>
                    <div>
                        <label class="block font-medium">Ciudad</label>
                        <input type="text" class="form-control w-full" formControlName="ciudad" />
                    </div>
                    <div>
                        <label class="block font-medium">País</label>
                        <input type="text" class="form-control w-full" formControlName="pais" />
                    </div>

                </div>
                @if (inEdicionVenta) {
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-primary mr-3" (click)="confirmarEdicionVenta()">
                            Confirmar
                        </button>
                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                            (click)="openCloseEditarVenta()">Cancelar</button>
                    </div>
                </div>
                }
            </fieldset>


            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex justify-between items-center">
                    <span class="flex items-center gap-2">
                        Productos
                        <button type="button" class="hover:text-primary" (click)="openModalProducto('NEW')">
                            <icon-plus class="w-4 h-4" />
                        </button>
                    </span>

                    <button type="button" (click)="toggleProductos()" class="text-sm hover:underline"
                        style="color:#000000a3" [ngxTippy]="getMostrarOcultarProductosTooltip()">
                        <fa-icon [icon]="mostrarProductos ? iconEyeSlash : iconEye" style="cursor: pointer;"></fa-icon>
                    </button>
                </legend>

                @if (selectedVenta?.transaction?.transaction_products?.length > 0) {
                <div *ngIf="mostrarProductos" class="mt-4">
                    <div class="table-responsive">
                        <table class="table-hover">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="px-2 py-1">Código</th>
                                    <th class="px-2 py-1">Nombre</th>
                                    <th class="px-2 py-1">Lote/Partida</th>
                                    <th class="px-2 py-1">Número de serie</th>
                                    <th class="px-2 py-1">Cantidad adquirida</th>
                                    <th class="px-2 py-1">Precio unitario</th>
                                    <th class="px-2 py-1">Precio total</th>
                                    <th class="px-2 py-1">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(data of selectedVenta?.transaction?.transaction_products; track data.uuid) {
                                <tr>
                                    <td class="border px-2 py-1">{{ data.product.code }}</td>
                                    <td class="border px-2 py-1 hover:text-blue-600 hover:underline hover:cursor-pointer"
                                        (click)="irAlProducto($event, data.product)"> {{ data.product.name}}
                                    </td>
                                    <td class="border px-2 py-1">{{
                                        data.sale_product?.stock?.batch?.batch_identification}}</td>
                                    <td class="border px-2 py-1">{{
                                        data.sale_product?.product_instances[0]?.serial_number }}</td>
                                    <td class="border px-2 py-1">{{ data.quantity }}</td>
                                    <td class="border px-2 py-1">{{ data.unit_price }}</td>
                                    <td class="border px-2 py-1">{{ data.quantity * data.unit_price }}</td>

                                    <td class="border px-2 py-1">
                                        <div class="flex items-center">
                                            <div>
                                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                                    (click)="openModalProducto('EDIT', data)">
                                                    <icon-pencil />
                                                </button>
                                            </div>
                                            <div>
                                                <button type="button" ngxTippy="Eliminar"
                                                    (click)="openSwalEliminarProductoTransaccion(data)">
                                                    <icon-trash-lines />
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                } @else {
                <div
                    class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee
                            productos</strong></span>
                </div>
                }
            </fieldset>


            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex items-center justify-between">
                    <span>Detalles</span>
                    <button type="button" class="ltr:ml-3 rtl:mr-2 hover:text-primary" ngxTippy="Editar">
                        <!-- (click)="openCloseEditarDescuentosCompra()"> -->
                        <icon-pencil />
                    </button>
                </legend>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="block font-medium">Subtotal sin descuentos</label>
                        <input type="text" class="form-control w-full" formControlName="subtotalSinDescuento" />
                    </div>
                    <div>
                        <label class="block font-medium">Descuento 1</label>
                        <input type="text" class="form-control w-full" formControlName="descuento1" />
                    </div>
                    <div>
                        <label class="block font-medium">Descuento 2</label>
                        <input type="text" class="form-control w-full" formControlName="descuento2" />
                    </div>
                    <div>
                        <label class="block font-medium">Subtotal con descuentos</label>
                        <input type="text" class="form-control w-full" formControlName="subtotalConDescuento" />
                    </div>
                    <div>
                        <label class="block font-medium">Otros cargos</label>
                        <input type="text" class="form-control w-full" formControlName="otrosCargos" />
                    </div>
                    <div>
                        <label class="block font-medium">IVA</label>
                        <input type="text" class="form-control w-full" formControlName="iva" />
                    </div>
                    <div>
                        <label class="block font-medium">Percepción IIBB</label>
                        <input type="text" class="form-control w-full" formControlName="percepcionIIBB" />
                    </div>
                    <div>
                        <label class="block font-medium">Percepción RG. 3337</label>
                        <input type="text" class="form-control w-full" formControlName="percepcionRG3337" />
                    </div>
                    <div>
                        <label class="block font-medium">Total compra</label>
                        <input type="text" class="form-control w-full" formControlName="total" />
                    </div>
                </div>
                <!-- @if (inEdicionDescuentos) {
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-primary mr-3" (click)="confirmarEdicionDescuentos()">
                            Confirmar
                        </button>
                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                            (click)="openCloseEditarDescuentosCompra()">Cancelar</button>
                    </div>
                </div>
                } -->
            </fieldset>

            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex justify-between items-center">
                    <span class="flex items-center gap-2">
                        Comprobantes
                        <button type="button" class="hover:text-primary" (click)="openModalComprobante('NEW')">
                            <icon-plus class="w-4 h-4" />
                        </button>
                    </span>

                    <button type="button" (click)="toggleComprobantes()" class="text-sm hover:underline"
                        style="color:#000000a3" [ngxTippy]="getMostrarOcultarComprobantesTooltip()">
                        <fa-icon [icon]="mostrarComprobantes ? iconEyeSlash : iconEye"
                            style="cursor: pointer;"></fa-icon>
                    </button>
                </legend>

                @if (selectedVenta?.transaction?.transaction_documents?.length > 0) {
                <div *ngIf="mostrarComprobantes" class="mt-4">
                    <div class="table-responsive">
                        <table class="table-hover">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="px-2 py-1">Orden</th>
                                    <th class="px-2 py-1">Fecha</th>
                                    <th class="px-2 py-1">Tipo</th>
                                    <th class="px-2 py-1">Número</th>
                                    <th class="px-2 py-1">Moneda</th>
                                    <th class="px-2 py-1">Tipo de cambio</th>
                                    <th class="px-2 py-1">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(data of selectedVenta?.transaction?.transaction_documents; track data.uuid) {
                                <tr>
                                    <td class="border px-2 py-1">{{ data.order }}</td>
                                    <td class="border px-2 py-1">{{ data.document_datetime }}</td>
                                    <td class="border px-2 py-1">{{ data.account_document_type?.name}}</td>
                                    <td class="border px-2 py-1">{{ data.prefix_number }} - {{ data.document_number }}
                                    </td>
                                    <td class="border px-2 py-1">{{ data.currency?.name }}</td>
                                    <td class="border px-2 py-1">{{ data.exchange_rate }}</td>

                                    <td class="border px-2 py-1">
                                        <div class="flex items-center">
                                            <div>
                                                <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar"
                                                    (click)="openModalComprobante('EDIT',data)">
                                                    <icon-pencil />
                                                </button>
                                            </div>
                                            <div>
                                                <button type="button" ngxTippy="Eliminar"
                                                    (click)="openSwalEliminarComprobante(data)">
                                                    <icon-trash-lines />
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                } @else {
                <div
                    class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee
                            comprobantes</strong></span>
                </div>
                }
            </fieldset>

            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex justify-between items-center">
                    <span class="flex items-center gap-2">
                        Pagos
                        <button type="button" class="hover:text-primary">
                            <icon-plus class="w-4 h-4" />
                        </button>
                    </span>
                </legend>

                @if (selectedVenta?.transaction?.payments?.length > 0) {
                <div class="mt-4">
                    <div class="table-responsive">
                        <table class="table-hover">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="px-2 py-1">Fecha de pago</th>
                                    <th class="px-2 py-1">Método de pago</th>
                                    <th class="px-2 py-1">Importe</th>
                                    <th class="px-2 py-1">Detalle</th>
                                    <th class="px-2 py-1">Moneda</th>
                                    <th class="px-2 py-1">Tipo de cambio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(data of selectedVenta?.transaction?.payments; track data.uuid) {
                                <tr>
                                    <td class="border px-2 py-1">{{ data.payment_datetime }}</td>
                                    <td class="border px-2 py-1">{{ data.payment_method }}</td>
                                    <td class="border px-2 py-1">{{ data.amount }}</td>
                                    <td class="border px-2 py-1">{{ data.detail }}</td>
                                    <td class="border px-2 py-1">{{ data.currency?.name }}</td>
                                    <td class="border px-2 py-1">{{ data.exchange_rate }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                } @else {
                <div
                    class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee
                            productos</strong></span>
                </div>
                }
            </fieldset>

            <fieldset class="border border-gray-300 rounded p-4 md:col-span-2">
                <legend class="text-lg font-semibold px-2 flex items-center justify-between">
                    <span>Retirado por</span>
                    <button type="button" class="ltr:ml-3 rtl:mr-2 hover:text-primary" ngxTippy="Editar">
                        <!-- (click)="openCloseEditarDescuentosCompra()"> -->
                        <icon-pencil />
                    </button>
                </legend>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="block font-medium">Nombre</label>
                        <input type="text" class="form-control w-full" formControlName="nombreRetira" />
                    </div>
                    <div>
                        <label class="block font-medium">Fecha</label>
                        <input type="text" class="form-control w-full" formControlName="fechaRetira" />
                    </div>
                    <div>
                        <label class="block font-medium">Número remito</label>
                        <input type="text" class="form-control w-full" formControlName="remito" />
                    </div>
                </div>
                <!-- @if (inEdicionDescuentos) {
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-primary mr-3" (click)="confirmarEdicionDescuentos()">
                            Confirmar
                        </button>
                        <button id="back-button-with-border" type="button" class="btn btn-wd"
                            (click)="openCloseEditarDescuentosCompra()">Cancelar</button>
                    </div>
                </div>
                } -->
            </fieldset>
        </div>
        }

    </div>

</div>









<div>
    <ngx-custom-modal #modalVenta class=" modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>

            <form [formGroup]="newVentaForm" class="p-4">
                <div class="flex flex-col sm:flex-row">
                    <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-2">

                        <div
                            [ngClass]="isSubmit ? newVentaForm.controls['person_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            <label for="person_uuid">Cliente</label>
                            <ng-select [items]="clientes$ | async" bindLabel="nombreCompleto"
                                [typeahead]="clienteInput$" [loading]="loadingClientes" [virtualScroll]="true"
                                typeToSearchText='Escriba un nombre' loadingText="Cargando..." [appendTo]="'body'"
                                placeholder="Buscar cliente..." formControlName="person_uuid"
                                notFoundText="No hay clientes"
                                [ngClass]="isSubmit ? newVentaForm.controls['person_uuid'].errors ? 'has-error' : 'has-success' : ''">
                            </ng-select>
                        </div>

                        <div
                            [ngClass]="isSubmit ? newVentaForm.controls['transaction_datetime'].errors ? 'has-error' : 'has-success' : ''">
                            <label>Fecha de compra</label>
                            <input type="text" mwlFlatpickr [options]="{ 
                                                enableTime: false, 
                                                dateFormat: 'Y-m-d',
                                                time24hr: true,
                                                enableSeconds: false
                                            }" class="form-input" formControlName="transaction_datetime" />
                        </div>

                        <div>
                            <label>Estado transacción</label>
                            <ng-select [items]="posiblesEstadosTransaccion" bindLabel="name" bindValue="uuid"
                                clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                notFoundText="No hay estados" placeholder="" class="w-1/3 min-w-[200px]"
                                formControlName="possible_transaction_state_uuid" [selectOnTab]="true"
                                [ngClass]="isSubmit ? newVentaForm.controls['possible_transaction_state_uuid'].errors ? 'has-error' : 'has-success' : ''"></ng-select>
                        </div>
                    </div>
                </div>

            </form>


            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary mr-3" (click)="confirmarVenta(newVentaForm)">
                        Confirmar
                    </button>
                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                        (click)="cerrarModal()">Cancelar</button>
                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<div>
    <ngx-custom-modal #modalComprobante class=" modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>

            <form [formGroup]="comprobanteForm" class="p-4">
                <div class="flex flex-col sm:flex-row">
                    <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-1">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">

                            <div
                                [ngClass]="isSubmit ? comprobanteForm.controls['document_datetime'].errors ? 'has-error' : 'has-success' : ''">
                                <label class="block font-medium">Fecha de facturacion</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                            enableTime: false, 
                            dateFormat: 'Y-m-d',
                            time24hr: true,
                            enableSeconds: false
                        }" class="form-input" formControlName="document_datetime" />
                            </div>

                            <div>
                                <label class="block font-medium">Tipo de comprobante</label>
                                <ng-select [items]="tiposDocumentosContables" bindLabel="name" bindValue="uuid"
                                    [ngClass]="isSubmit ? comprobanteForm.controls['account_document_type_uuid'].errors ? 'has-error' : 'has-success' : ''"
                                    clearAllText="Limpiar" [virtualScroll]="true"
                                    notFoundText="No hay tipos de comprobante"
                                    formControlName="account_document_type_uuid" [selectOnTab]="true">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? (comprobanteForm.controls['document_number'].errors || comprobanteForm.controls['prefix_number'].errors) ? 'has-error' : 'has-success' : ''">
                                <label class="block font-medium">Número de comprobante</label>
                                <div class="flex gap-2">
                                    <input type="text" class="form-control w-full" formControlName="prefix_number" />
                                    <input type="text" class="form-control w-full" formControlName="document_number" />
                                </div>
                            </div>

                            <div>
                                <label class="block font-medium">Moneda de la compra</label>
                                <ng-select [items]="monedas" bindLabel="name" clearAllText="Limpiar"
                                    [ngClass]="isSubmit ? comprobanteForm.controls['currency_uuid'].errors ? 'has-error' : 'has-success' : ''"
                                    [virtualScroll]="true" notFoundText="No hay monedas" formControlName="currency_uuid"
                                    [selectOnTab]="true">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? comprobanteForm.controls['exchange_rate'].errors ? 'has-error' : 'has-success' : ''">
                                <label class="block font-medium">Tipo de cambio</label>
                                <input type="text" class="form-control w-full" formControlName="exchange_rate" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>


            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary mr-3" (click)="confirmarComprobante()">
                        Confirmar
                    </button>
                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                        (click)="cerrarModalComprobante()">Cancelar</button>
                </div>
            </div>
        </ng-template>
    </ngx-custom-modal>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>

    <div class="offcanvas-body">

        <div class="row d-flex justify-content-center">
            <div class="d-flex flex-wrap align-items-center gap-3">
                <fieldset class="border border-gray-300 p-4 rounded-md">
                    <legend class="text-lg font-semibold text-gray-700 px-2">Proveedor</legend>
                    <div class="mb-3 text-center">
                        <label class="font-semibold text-gray-700 d-block">Tipo de Persona:</label>
                        <div class="d-flex justify-content-center gap-3">
                            <div class="form-check">
                                <label class="inline-flex items-center" for="radioTodos">
                                    <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                        id="radioTodos" value="todos" [(ngModel)]="filtroTipoPersona"
                                        (change)="changeTipoPersona()">
                                    <span class="ml-2 cursor-pointer">Todos</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="inline-flex items-center" for="radioFisica">
                                    <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                        id="radioFisica" value="fisica" [(ngModel)]="filtroTipoPersona"
                                        (change)="changeTipoPersona()">
                                    <span class="ml-2 cursor-pointer">Física</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="inline-flex items-center" for="radioJuridica">
                                    <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                        id="radioJuridica" value="juridica" [(ngModel)]="filtroTipoPersona"
                                        (change)="changeTipoPersona()">
                                    <span class="ml-2 cursor-pointer">Jurídica</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    @if(this.filtroTipoPersona === 'fisica' || this.filtroTipoPersona === 'todos') {
                    <div class="flex-grow-1">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control"
                            [(ngModel)]="filtrosVentas['transaction.person.human.firstname'].value"
                            (input)="obtenerComprasPorFiltroAvanzado()">
                    </div>
                    <div class="flex-grow-1">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" class="form-control"
                            [(ngModel)]="filtrosVentas['transaction.person.human.lastname'].value"
                            (input)="obtenerComprasPorFiltroAvanzado()">
                    </div>
                    }
                    @if(this.filtroTipoPersona === 'juridica' || this.filtroTipoPersona === 'todos') {
                    <div class="flex-grow-1">
                        <label for="razon">Razón Social</label>
                        <input type="text" id="razon" class="form-control"
                            [(ngModel)]="filtrosVentas['transaction.person.legalEntity.company_name'].value"
                            (input)="obtenerComprasPorFiltroAvanzado()">
                    </div>
                    }
                </fieldset>
                <div class="col-md-12 pr-1 mb-3">
                    <label>Fecha transacción desde</label>
                    <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'Y-m-d',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaTransacDesde"
                        (input)="obtenerComprasPorFiltroAvanzado()" />
                </div>
                <div class="col-md-12 pr-1 mb-3">
                    <label>Fecha transacción hasta</label>
                    <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'Y-m-d',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaTransacHasta"
                        (input)="obtenerComprasPorFiltroAvanzado()" />
                </div>
                <div class="flex-grow-1">
                    <label>Tipo de comprobante contable</label>
                    <ng-select [items]="tiposDocumentosContables" bindLabel="name" bindValue="uuid"
                        clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                        notFoundText="No hay tipos de comprobantes contables" class="w-1/3 min-w-[200px]"
                        [(ngModel)]="filtrosVentas['transaction.transactionDocuments.accountDocumentType.uuid'].value"
                        (change)="obtenerComprasPorFiltroAvanzado()"></ng-select>
                </div>
                <div class="flex-grow-1">
                    <label for="prefijo">Prefijo (comprobante contable)</label>
                    <input type="text" id="prefijo" class="form-control"
                        [(ngModel)]="filtrosVentas['transaction.transactionDocuments.prefix_number'].value"
                        (input)="obtenerComprasPorFiltroAvanzado()">
                </div>
                <div class="flex-grow-1">
                    <label for="documento">Número de documento (comprobante contable)</label>
                    <input type="text" id="documento" class="form-control"
                        [(ngModel)]="filtrosVentas['transaction.transactionDocuments.document_number'].value"
                        (input)="obtenerComprasPorFiltroAvanzado()">
                </div>
                <div class="col-md-12 pr-1 mb-3">
                    <label>Fecha Comprobante desde</label>
                    <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'Y-m-d',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaComprobanteDesde"
                        (input)="obtenerComprasPorFiltroAvanzado()" />
                </div>
                <div class="col-md-12 pr-1 mb-3">
                    <label>Fecha Comprobante hasta</label>
                    <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'Y-m-d',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaComprobanteHasta"
                        (input)="obtenerComprasPorFiltroAvanzado()" />
                </div>
                <div style="width: 100%;">
                    <label for="switchRightLote">Lote</label>
                    <div class="flex">
                        <input id="switchRightLote" type="text" placeholder=""
                            [(ngModel)]="filtrosVentas['batch.batch_identification'].value"
                            (input)="obtenerComprasPorFiltroAvanzado()"
                            class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                        <div
                            class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                            <label class="relative mb-0 h-4 w-7 cursor-pointer">
                                <input type="checkbox"
                                    class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                    id="custom_switch_checkbox2"
                                    [(ngModel)]="filtrosVentas['batch.batch_identification'].contiene"
                                    (change)="obtenerComprasPorFiltroAvanzado()" />
                                <span
                                    class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                            </label>
                            <span class="text-xs text-gray-600 ml-1">Contiene</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <label for="switchRight">Nro de serie</label>
                    <div class="flex">
                        <input id="switchRight" type="text" placeholder=""
                            [(ngModel)]="filtrosVentas['batch.stocks.productInstances.serial_number'].value"
                            (input)="obtenerComprasPorFiltroAvanzado()"
                            class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                        <div
                            class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                            <label class="relative mb-0 h-4 w-7 cursor-pointer">
                                <input type="checkbox"
                                    class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                    id="custom_switch_checkbox2"
                                    [(ngModel)]="filtrosVentas['batch.stocks.productInstances.serial_number'].contiene"
                                    (change)="obtenerComprasPorFiltroAvanzado()" />
                                <span
                                    class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                            </label>
                            <span class="text-xs text-gray-600 ml-1">Contiene</span>
                        </div>
                    </div>
                </div>

                <div class="flex-grow-1">
                    <label>Producto</label>
                    <ng-select [items]="productos$ | async" bindLabel="name" [typeahead]="productoInput$"
                        bindValue="uuid" [loading]="loadingProductos" [virtualScroll]="true"
                        typeToSearchText='Escriba un nombre' loadingText="Cargando..." [appendTo]="'body'"
                        placeholder="Buscar producto..."
                        [(ngModel)]="filtrosVentas['transaction.transactionProducts.product.uuid'].value"
                        (change)="obtenerComprasPorFiltroAvanzado()">
                    </ng-select>
                </div>

            </div>

            <button class="mt-2 btn btn-primary" (click)="limpiarFiltros()">
                Limpiar filtros avanzados
            </button>

        </div>



    </div>

</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>