<div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
    <div class="overlay absolute z-[5] hidden h-full w-full rounded-md bg-black/60"
        [ngClass]="{ '!block xl:!hidden': isShowMailMenu }" (click)="isShowMailMenu = !isShowMailMenu"></div>

    <!-- PANEL IZQUIERDO -->
    <div class="panel dark:gray-50 absolute z-10 hidden h-full w-[500px] max-w-full flex-none space-y-3 overflow-hidden p-4 ltr:rounded-r-none rtl:rounded-l-none xl:relative xl:block xl:h-auto ltr:xl:rounded-r-md rtl:xl:rounded-l-md"
        [ngClass]="{ '!block': isShowMailMenu }">

        <div class="flex h-full flex-col">

            <div class="flex justify-end xl:hidden mb-2">
                <button (click)="isShowMailMenu = false" class="p-2 hover:text-primary">
                    <icon-menu class="w-5 h-5" />
                </button>
            </div>

            <div class="flex items-center text-md mb-3">
                <button class="hover:text-primary ml-auto" data-bs-toggle="offcanvas" [disabled]="isEdicion"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" [ngClass]="{
                        'text-gray-400 cursor-not-allowed': isEdicion
                      }">
                    <icon-settings class="mx-auto mb-1" />
                    Filtros avanzados
                </button>
            </div>

            @if(producciones) {
            <span class="float-md-end color-gris">
                Producciones: {{ total_rows }}
            </span>
            }

            <div class="table-container flex-grow overflow-auto">
                <div class="table-responsive">
                    <table class="table-hover w-full">
                        <tbody>
                            @for(data of producciones ; let index = $index ;track data.uuid) {
                            <tr style="cursor: pointer;"
                                [ngClass]="{'bg-blue-200': selectedProduccion?.uuid === data.uuid}">
                                <td (click)="showDataProduccion(data)" style="font-size: 12px;"
                                    [style.color]="data.current_state?.state?.color">
                                    <b>{{ showName(data) }}</b> - {{showBatch(data)}} - {{showFecha(data)}}
                                </td>
                                <td class="w-0 whitespace-nowrap text-right align-middle">
                                    <div hlMenu class="dropdown">
                                        <button type="button" hlMenuButton>
                                            <icon-horizontal-dots class="rotate-90 opacity-70" />
                                        </button>
                                        <ul *hlMenuItems @toggleAnimation [ngClass]="getDropdownClass(index)">
                                            <li>
                                                <a href="javascript:;" *hlMenuItem="let menuItem"
                                                    (click)="openModalProduccion('EDIT', data)">Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" *hlMenuItem="let menuItem"
                                                    (click)="openSwalEliminar(data)">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w-full p-2 mt-auto">
                <div class="flex flex-col items-center justify-center sm:flex-row sm:justify-between mb-3">
                    <ngb-pagination class="ngb-pagination" [collectionSize]="total_rows" [pageSize]="itemsPerPage"
                        [(page)]="currentPage" [maxSize]="1" [rotate]="true" (pageChange)="obtenerProducciones()">
                    </ngb-pagination>

                    <div class="flex items-center gap-1 mt-2 sm:mt-0">
                        <label for="paginacion" class="mb-0 text-sm text-gray-600">Ítems por página:</label>
                        <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label"
                            [clearable]="false" class="custom-select w-24" [dropdownPosition]="'top'"
                            (change)="obtenerProducciones()">
                        </ng-select>
                    </div>
                </div>
                <div class="flex w-full">
                    <div class="relative flex-grow">
                        <input id="switchRight" type="text" placeholder="Buscar producción..."
                            [(ngModel)]="filtroSimpleName" (input)="obtenerProduccionesPorFiltroSimple()"
                            class="form-input w-full ltr:rounded-r-none rtl:rounded-l-none" />
                        <div class="absolute top-1/2 -translate-y-1/2 ltr:right-[11px] rtl:left-[11px]">
                            <icon-search />
                        </div>
                    </div>
                    <div
                        class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                        <label class="relative mb-0 h-4 w-7 cursor-pointer">
                            <input type="checkbox" (change)="obtenerProduccionesPorFiltroSimple();"
                                class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                id="custom_switch_checkbox2" [(ngModel)]="filtroSimpleContiene" />
                            <span
                                class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                        </label>
                        <span class="text-xs text-gray-600 ml-1">Contiene</span>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- PANEL DERECHO -->
    <div class="panel h-full flex-1 overflow-x-hidden p-0">

        <div class="flex flex-wrap-reverse items-center justify-between ml-4 mt-2 gap-2 p-2">
            <h5 class="text-lg font-semibold dark:text-white-light min-w-0 flex items-center gap-2">
                Producción
                @if(producciones.length > 0 && selectedProduccion) {
                {{selectedProduccion.product?.name}}
                }
                <!-- @if(produccionAnterior.length > 0) {
                <a class="text-sm text-blue-600 hover:underline cursor-pointer" (click)="volverAProduccionAnterior()">
                    ( Volver a la producción anterior {{produccionAnterior[produccionAnterior.length - 1]?.name}} )
                </a>
                } -->
            </h5>

            <div class="flex items-center gap-2 ml-auto">
                @if(producciones.length > 0 && selectedProduccion) {
                <button type="button" ngxTippy="Editar" (click)="openModalProduccion('EDIT', selectedProduccion)">
                    <icon-pencil />
                </button>
                <button type="button" ngxTippy="Eliminar" (click)="openSwalEliminar(selectedProduccion)">
                    <icon-trash-lines />
                </button>
                }
                <button type="button" class="block hover:text-primary xl:hidden"
                    (click)="isShowMailMenu = !isShowMailMenu">
                    <icon-menu />
                </button>
            </div>
        </div>

        @if(producciones && producciones.length > 0) {
        <app-timeline [produccion]="selectedProduccion" [estadosPosibles]="estados"
            (eventTimeline)="changeEstadoProduccion($event)">
        </app-timeline>
        }

        <!-- TABS -->
        <div class="">

            <div class="mt-3 flex flex-wrap">

                <a href="javascript:;"
                    class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                    [ngClass]="{'!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'datos-generales',
                                 'cursor-not-allowed tab-disabled': isTabDisabled
                                }" (click)="!isTabDisabled && (tab1 = 'datos-generales')">
                    Datos generales
                </a>

                <a href="javascript:;"
                    class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                    [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'componentes',
                    'cursor-not-allowed tab-disabled': isTabDisabled }"
                    (click)="!isTabDisabled && (tab1 = 'componentes')">
                    Componentes
                </a>

                <a href="javascript:;"
                    class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                    [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'trazabilidad',
                    'cursor-not-allowed tab-disabled': isTabDisabled }"
                    (click)="!isTabDisabled && (tab1 = 'trazabilidad')">
                    Trazabilidad
                </a>

                <a href="javascript:;"
                    class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                    [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'faltantes',
                    'cursor-not-allowed tab-disabled': isTabDisabled }"
                    (click)="!isTabDisabled && (tab1 = 'faltantes')">
                    Faltantes
                </a>
            </div>

            <div class="flex-1 text-sm">
                <div *ngIf="tab1.toLowerCase() === 'datos-generales'">
                    @if (producciones.length > 0 && !isLoadingProducciones) {
                    <form [formGroup]="produccionForm" class="p-4">
                        <div class="flex flex-col sm:flex-row">
                            <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-3">

                                <div>
                                    <label for="producto">Producto</label>
                                    <input id="producto" type="text" placeholder="" class="form-control"
                                        formControlName="producto" />
                                </div>

                                <div>
                                    <label for="cantidad">Cantidad</label>
                                    <input id="cantidad" type="text" placeholder="" class="form-control"
                                        formControlName="cantidad" />
                                </div>

                                <!-- <div (keydown.enter)="confirmarProduccion(produccionForm)">
                                    <label for="fechaInicio">Fecha inicio</label>
                                    <input id="fechaInicio" type="text" placeholder="" class="form-control"
                                        formControlName="fechaInicio" />
                                </div> -->

                                <div>
                                    <label>Fecha de inicio</label>
                                    <input type="text" mwlFlatpickr [options]="{ 
                                                enableTime: false, 
                                                dateFormat: 'd-m-Y',
                                                time24hr: true,
                                                enableSeconds: false
                                            }" class="form-input" formControlName="fechaInicio" />
                                </div>

                                <div (keydown.enter)="confirmarProduccion(produccionForm)">
                                    <label for="responsableCreacion">Responsable de generación</label>
                                    <input id="responsableCreacion" type="text" placeholder="" class="form-control"
                                        formControlName="responsableCreacion" />
                                </div>

                                <!-- <div (keydown.enter)="confirmarProduccion(produccionForm)">
                                    <label for="responsableEjecucion">Responsable de ejecución</label>
                                    <input id="responsableEjecucion" type="text" placeholder="" class="form-control"
                                        formControlName="responsableEjecucion" />
                                </div> -->

                                <div class="flex-grow-1">
                                    <label for="usuarios">Responsable de ejecución</label>
                                    <ng-select [items]="usuarios" bindLabel="user_name" bindValue="uuid"
                                        clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                        notFoundText="No hay usuarios" class="w-1/3 min-w-[200px]"
                                        formControlName="responsableEjecucion">
                                    </ng-select>
                                </div>

                            </div>
                        </div>


                        <fieldset class=" mt-4 border border-gray-300 rounded p-4 md:col-span-2">
                            <legend class="text-lg font-semibold flex justify-between items-center">
                                <span class="flex items-center gap-2">
                                    Movimientos
                                    <!-- <button type="button" class="hover:text-primary"
                                        (click)="openModalComprobante('NEW')">
                                        <icon-plus />
                                    </button> -->
                                </span>
                                <!-- <button type="button" (click)="toggleComprobantes()" class="text-sm hover:underline"
                                    style="color:#000000a3" [ngxTippy]="getMostrarOcultarComprobantesTooltip()">
                                    <fa-icon [icon]="mostrarComprobantes ? iconEyeSlash : iconEye"
                                        style="cursor: pointer;"></fa-icon>
                                </button> -->
                            </legend>
                            @if (produccionForm.get('movimientosEstado')?.value?.length > 0) {
                            <div class="mt-4">
                                <div class="table-responsive">
                                    <table class="table-hover">
                                        <thead class="bg-gray-100">
                                            <tr>
                                                <th class="px-2 py-1">Fecha</th>
                                                <th class="px-2 py-1">Estado</th>
                                                <th class="px-2 py-1">Usuario</th>
                                                <th class="px-2 py-1">Justificación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(data of produccionForm.get('movimientosEstado')?.value; track
                                            data.uuid) {
                                            <tr>
                                                <td class="border px-2 py-1">{{
                                                    convertirFechaConHora(data.datetime_from) }}</td>
                                                <td class="border px-2 py-1">{{ data.state?.name}}</td>
                                                <td class="border px-2 py-1">{{ data.creator?.user_name }}</td>
                                                <td class="border px-2 py-1">{{ data.justification }}</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            } @else {
                            <div
                                class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
                                <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee
                                        movimientos</strong></span>
                            </div>
                            }
                        </fieldset>

                        @if (isEdicion) {
                        <div class="row mt-3">
                            <div class="col-12 d-flex justify-content-center">
                                <button type="button" class="btn btn-wd btn-primary mr-4"
                                    (click)="confirmarProduccion(produccionForm)">Confirmar</button>
                                <button id="back-button-with-border" type="button" class="btn btn-wd"
                                    (click)="cancelarEdicion()">Cancelar</button>
                            </div>
                        </div>
                        }

                    </form>
                    }
                </div>

                <div *ngIf="tab1.toLowerCase() === 'componentes'">
                    <app-componentes-produccion [produccion]="selectedProduccion" [rol]="actual_role">
                    </app-componentes-produccion>
                </div>

                <div *ngIf="tab1.toLowerCase() === 'trazabilidad'">
                    <app-trazabilidad [produccion]="selectedProduccion" [rol]="actual_role">
                    </app-trazabilidad>
                </div>

                <div *ngIf="tab1.toLowerCase() === 'faltantes'">
                    <app-faltantes [produccion]="selectedProduccion" [rol]="actual_role">
                    </app-faltantes>
                </div>

            </div>
        </div>

    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>

    <div class="offcanvas-body">

        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <div class="max-w-[50rem] mt-3 w-full shadow-[4px_6px_10px_-3px_#bfc9d4] rounded border border-[#e0e6ed] 
                        dark:border-[#1b2e4b] dark:bg-[#191e3a] dark:shadow-none mx-auto">
                    <div class="py-4 px-4">

                        <!-- Campos en una sola fila -->
                        <div class="d-flex flex-wrap align-items-center gap-3">

                            <div style="width: 100%;">
                                <label for="switchRight">Nombre</label>
                                <div class="flex">
                                    <input id="switchRight" type="text" placeholder=""
                                        [(ngModel)]="filtros['product.name'].value"
                                        (input)="obtenerProduccionesPorFiltroAvanzado()"
                                        class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                                    <div
                                        class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                                        <label class="relative mb-0 h-4 w-7 cursor-pointer">
                                            <input type="checkbox" (change)="obtenerProduccionesPorFiltroAvanzado()"
                                                class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                                id="custom_switch_checkbox2"
                                                [(ngModel)]="filtros['product.name'].contiene" />
                                            <span
                                                class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                                        </label>
                                        <span class="text-xs text-gray-600 ml-1">Contiene</span>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 100%;">
                                <label for="switchRight">Lote</label>
                                <div class="flex">
                                    <input id="switchRight" type="text" placeholder=""
                                        [(ngModel)]="filtros['batch.batch_identification'].value"
                                        (input)="obtenerProduccionesPorFiltroAvanzado()"
                                        class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                                    <div
                                        class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                                        <label class="relative mb-0 h-4 w-7 cursor-pointer">
                                            <input type="checkbox"
                                                class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                                id="custom_switch_checkbox2"
                                                [(ngModel)]="filtros['batch.batch_identification'].contiene"
                                                (change)="obtenerProduccionesPorFiltroAvanzado()" />
                                            <span
                                                class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                                        </label>
                                        <span class="text-xs text-gray-600 ml-1">Contiene</span>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <label for="serie">Número de serie</label>
                                <input type="text" id="serie" class="form-control"
                                    [(ngModel)]="filtros['frozenComponent.productInstance.serial_number'].value"
                                    (input)="obtenerProduccionesPorFiltroAvanzado()">
                            </div>

                            <div class="flex-grow-1">
                                <label for="estado">Estados posibles</label>
                                <ng-select [items]="estados" bindLabel="name" bindValue="uuid" clearAllText="Limpiar"
                                    style="width: 100%" [virtualScroll]="true" notFoundText="No hay estados"
                                    class="w-1/3 min-w-[200px]" multiple="true"
                                    [(ngModel)]="filtros['productionStates.possibleProductionState.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()">
                                </ng-select>
                            </div>

                            <div class="flex-grow-1">
                                <label for="usuarios">Usuarios</label>
                                <ng-select [items]="usuarios" bindLabel="user_name" bindValue="uuid"
                                    clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                    notFoundText="No hay usuarioss" class="w-1/3 min-w-[200px]" [multiple]="true"
                                    [(ngModel)]="filtros['user->responsible.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()">
                                </ng-select>
                            </div>

                            <div class="col-md-12 pr-1 mb-3">
                                <label>Fecha producción desde</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'd-m-Y',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaProduccionDesde"
                                    (input)="obtenerProduccionesPorFiltroAvanzado()" />
                            </div>
                            <div class="col-md-12 pr-1 mb-3">
                                <label>Fecha producción hasta</label>
                                <input type="text" mwlFlatpickr [options]="{ 
                                        enableTime: false, 
                                        dateFormat: 'd-m-Y',
                                        time24hr: true,
                                        enableSeconds: false
                                    }" class="form-input" [(ngModel)]="filtroFechaProduccionHasta"
                                    (input)="obtenerProduccionesPorFiltroAvanzado()" />
                            </div>

                            <!-- <div class="flex-grow-1">
                                <label for="tiposProducto">Tipos de producto</label>
                                <ng-select [items]="tipoProductos" bindLabel="name" bindValue="uuid"
                                    clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                    notFoundText="No hay tipos de productos" class="w-1/3 min-w-[200px]"
                                    [(ngModel)]="filtros['productType.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()"></ng-select>
                            </div> -->


                            <!-- <div class="flex-grow-1">
                                <label for="categorias">Categoría</label>
                                <ng-select [items]="categorias" bindLabel="name" bindValue="uuid" clearAllText="Limpiar"
                                    style="width: 100%" [virtualScroll]="true" notFoundText="No hay categorías"
                                    class="w-1/3 min-w-[200px]" [(ngModel)]="filtros['productCategory.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()"></ng-select>
                            </div> -->

                            <!-- <div class="flex-grow-1">
                                <label for="estado">Estado actual</label>
                                <ng-select [items]="estados" bindLabel="name" bindValue="uuid" clearAllText="Limpiar"
                                    style="width: 100%" [virtualScroll]="true" notFoundText="No hay estados"
                                    class="w-1/3 min-w-[200px]"
                                    [(ngModel)]="filtros['productStates.possibleProductState.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()">
                                </ng-select>
                            </div> -->

                            <!-- <div style="width: 100%;">
                                <label for="switchRight">Nomenclatura Mercosur (Pos. Arancelaria)</label>
                                <div class="flex">
                                    <input id="switchRight" type="text" placeholder=""
                                        [(ngModel)]="filtros.mercosur_nomenclature.value"
                                        (input)="obtenerProduccionesPorFiltroAvanzado()"
                                        class="form-input ltr:rounded-r-none rtl:rounded-l-none" />
                                    <div
                                        class="flex items-center justify-center border border-[#e0e6ed] bg-[#eee] px-3 font-semibold dark:border-[#17263c] dark:bg-[#1b2e4b] ltr:rounded-r-md ltr:border-l-0 rtl:rounded-l-md rtl:border-r-0">
                                        <label class="relative mb-0 h-4 w-7 cursor-pointer">
                                            <input type="checkbox"
                                                class="peer absolute z-10 h-full w-full cursor-pointer opacity-0 focus:outline-none focus:ring-0"
                                                id="custom_switch_checkbox2"
                                                [(ngModel)]="filtros.mercosur_nomenclature.contiene"
                                                (change)="obtenerProduccionesPorFiltroAvanzado()" />
                                            <span
                                                class="block h-full rounded-full border border-[#adb5bd] bg-blue before:absolute before:bottom-[2px] before:h-3 before:w-3 before:rounded-full before:bg-[#adb5bd] before:transition-all before:duration-300 peer-checked:border-primary peer-checked:bg-primary peer-checked:before:bg-white dark:bg-dark dark:before:bg-white-dark ltr:before:left-0.5 ltr:peer-checked:before:left-3.5 rtl:before:right-0.5 rtl:peer-checked:before:right-3.5"></span>
                                        </label>
                                        <span class="text-xs text-gray-600 ml-1">Contiene</span>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="flex-grow-1">
                                <label for="unidad">Unidad</label>
                                <ng-select [items]="measures" bindLabel="name" bindValue="uuid" clearAllText="Limpiar"
                                    style="width: 100%" [virtualScroll]="true" notFoundText="No hay unidades"
                                    class="w-1/3 min-w-[200px]" [(ngModel)]="filtros['measure.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()"></ng-select>
                            </div> -->

                            <!-- <div class="d-flex align-items-center">
                                <label class="me-2">Trazable:</label>
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" id="trazableSinFiltro" name="trazable"
                                        value='' [(ngModel)]="filtros.traceable.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="trazableSinFiltro">Sin filtro</label>
                                </div>
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" id="trazableSi" name="trazable" value=1
                                        [(ngModel)]="filtros.traceable.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="trazableSi">Sí</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="trazableNo" name="trazable" value=0
                                        [(ngModel)]="filtros.traceable.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="trazableNo">No</label>
                                </div>
                            </div> -->

                            <!-- <div class="d-flex align-items-center">
                                <label class="me-2">Asigna n° de serie:</label>
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" id="asignaSinFiltro" name="asigna"
                                        value='' [(ngModel)]="filtros.assign_serial_number.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="asignaSinFiltro">Sin filtro</label>
                                </div>
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" id="asignaSi" name="asigna" value=1
                                        [(ngModel)]="filtros.assign_serial_number.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="asignaSi">Sí</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="asignaNo" name="asigna" value=0
                                        [(ngModel)]="filtros.assign_serial_number.value"
                                        (change)="obtenerProduccionesPorFiltroAvanzado()">
                                    <label class="form-check-label" for="asignaNo">No</label>
                                </div>
                            </div> -->

                            <!-- <div class="flex-grow-1">
                                <label for="proveedor">Proveedor</label>
                                <ng-select [items]="proveedores" bindLabel="nombreCompleto" bindValue="uuid"
                                    clearAllText="Limpiar" style="width: 100%" [virtualScroll]="true"
                                    notFoundText="No hay proveedores" class="w-1/3 min-w-[200px]"
                                    [(ngModel)]="filtros['suppliers.uuid'].value"
                                    (change)="obtenerProduccionesPorFiltroAvanzado()"></ng-select>
                            </div> -->



                        </div>

                    </div>
                </div>
            </div>

            <button class="mt-2 btn btn-primary" (click)="limpiarFiltros()">
                Limpiar filtros avanzados
            </button>

        </div>



    </div>

</div>