<div>
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div class="overlay absolute z-[5] hidden h-full w-full rounded-md bg-black/60"
            [ngClass]="{ '!block xl:!hidden': isShowMailMenu }" (click)="isShowMailMenu = !isShowMailMenu"></div>

        <div class="panel dark:gray-50 absolute z-10 hidden h-full w-[250px] max-w-full flex-none space-y-3 overflow-hidden p-4 ltr:rounded-r-none rtl:rounded-l-none xl:relative xl:block xl:h-auto ltr:xl:rounded-r-md rtl:xl:rounded-l-md"
            [ngClass]="{ '!block': isShowMailMenu }">

            <!-- PANEL IZQUIERDO -->

            <div class="flex h-full flex-col pb-16">

                <div class="flex items-center justify-between text-md mb-3">
                    <button type="button" class="hover:text-primary" (click)="openModalNuevoCliente()">
                        <icon-plus class="mx-auto mb-1" />
                        Agregar cliente
                    </button>

                    <button type="button" class="hover:text-primary" data-bs-toggle="offcanvas"
                        (click)="mostrarFiltros()" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <icon-settings class="mx-auto mb-1" />
                        Filtros avanzados
                    </button>
                </div>

                <!-- <ng-scrollbar class="relative h-full grow" appearance="compact"> -->
                <div class="table-responsive">
                    <table class="table-hover">
                        <tbody>
                            @for(data of filtrarDatos() ; let index = $index; track data.uuid) {
                            <tr style="cursor: pointer;"
                                [ngClass]="{'bg-blue-200': selectedCliente?.uuid === data.uuid}">
                                <td (click)="showDataCliente(data)">{{ getName(data) }}
                                </td>
                                <td>
                                    <div hlMenu class="dropdown">
                                        <button type="button" hlMenuButton>
                                            <icon-horizontal-dots class="rotate-90 opacity-70" />
                                        </button>
                                        <ul *hlMenuItems @toggleAnimation [ngClass]="getDropdownClass(index)">
                                            <li>
                                                <a href="javascript:;" *hlMenuItem="let menuItem"
                                                    (click)="editarUsuario(data)">Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" *hlMenuItem="let menuItem"
                                                    (click)="openSwalEliminar(data)">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- </ng-scrollbar> -->

                <div class="absolute bottom-0 mp-2 w-full p-2 ltr:left-0 rtl:right-0">
                    <div class="group relative">
                        <input type="text" placeholder="Buscar cliente..." [(ngModel)]="busquedaPorNombreSimple"
                            (input)="filtroSimpleInput()" class="peer form-input ltr:pr-8 rtl:pl-8" />
                        <div
                            class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]">
                            <icon-search />
                        </div>
                    </div>


                    <div class="flex items-center gap-2 mt-2">
                        <label class="w-12 h-6 relative">
                            <input type="checkbox"
                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                id="custom_switch_checkbox2" [(ngModel)]="busqueda_contiene"
                                (change)="filtrarDatos()" />
                            <span for="custom_switch_checkbox2"
                                class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                            </span>
                        </label>
                        <span>Contiene</span>
                    </div>

                </div>

            </div>
        </div>

        <!-- PANEL DERECHO -->
        <div class="panel h-full flex-1 overflow-x-hidden p-0">

            <!-- MENU ICONO OCULTO RESPONSIVE -->
            <div class="flex flex-wrap-reverse items-center justify-between ml-4 mt-2 gap-2 p-2">
                <h5 class="text-lg font-semibold dark:text-white-light min-w-0 flex items-center gap-2">
                    Cliente
                    @if (clientes.length > 0) {
                    @if(isHuman){
                    {{ selectedCliente.person?.human?.firstname }} {{ selectedCliente.person?.human?.lastname }}
                    } @else {
                    {{ selectedCliente.person?.legal_entity?.company_name }}
                    }
                    }
                </h5>

                <div class="flex w-full items-center justify-between sm:w-auto">
                    <div class="flex items-center ltr:mr-4 rtl:ml-4">
                        <button type="button" class="block hover:text-primary ltr:mr-3 rtl:ml-3 xl:hidden"
                            (click)="isShowMailMenu = !isShowMailMenu">
                            <icon-menu />
                        </button>
                    </div>
                </div>
            </div>


            <!-- TABS -->
            <div>
                <div class="mt-3 flex flex-wrap">
                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'datos-generales' }"
                        (click)="tab1 = 'datos-generales'">
                        <!-- <icon-user class="mr-3" /> -->
                        Datos generales
                    </a>

                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'datos-de-contacto' }"
                        (click)="tab1 = 'datos-de-contacto'">
                        <!-- <icon-user class="mr-3" /> -->
                        Datos de contacto
                    </a>

                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'personas-de-contacto' }"
                        (click)="tab1 = 'personas-de-contacto'">
                        <!-- <icon-user class="mr-3" /> -->
                        Personas de contacto
                    </a>

                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'compras' }"
                        (click)="tab1 = 'compras'">
                        Compras
                    </a>

                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'productos-adquiridos' }"
                        (click)="tab1 = 'productos-adquiridos'">
                        Productos adquiridos
                    </a>

                    <a href="javascript:;"
                        class="flex items-center border-t-2 border-transparent bg-[#f6f7f8] p-7 py-3 !outline-none transition duration-300 hover:border-secondary hover:text-secondary dark:bg-transparent dark:hover:bg-[#191e3a]"
                        [ngClass]="{ '!border-secondary text-secondary dark:bg-[#191e3a]': tab1.toLowerCase() === 'productos-en-posesion' }"
                        (click)="tab1 = 'productos-en-posesion'">
                        Productos en posesión
                    </a>
                </div>

                <div class="flex-1 text-sm">
                    <div *ngIf="tab1.toLowerCase() === 'datos-generales'">
                        <!-- <h4 class="mb-4 text-2xl font-semibold"></h4> -->
                        <form [formGroup]="clienteForm" class="p-4">
                            <div class="flex flex-col sm:flex-row">
                                <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-2">
                                    @if (isHuman) {
                                    <div>
                                        <label for="nombre">Nombre</label>
                                        <input id="nombre" type="text" placeholder="" class="form-control"
                                            formControlName="nombre" />
                                    </div>
                                    <div>
                                        <label for="apellido">Apellido</label>
                                        <input id="apellido" type="text" placeholder="" class="form-control"
                                            formControlName="apellido" />
                                    </div>
                                    <div>
                                        <label for="tipoDocumento">Tipo documento</label>
                                        <ng-select [items]="documentos" bindLabel="name" bindValue="uuid"
                                            formControlName="tipoDocumento" [virtualScroll]="true"
                                            [ngClass]="isSubmit ? clienteForm.controls['tipoDocumento'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>
                                    <div>
                                        <label for="documento">Documento</label>
                                        <input id="documento" type="text" placeholder="" class="form-control"
                                            formControlName="documento" />
                                    </div>
                                    <div>
                                        <label for="genero">Genero</label>
                                        <ng-select [items]="generos" bindLabel="name" bindValue="uuid"
                                            formControlName="genero"
                                            [ngClass]="isSubmit ? clienteForm.controls['genero'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>
                                    } @else {
                                    <div>
                                        <label for="razon">Razón social</label>
                                        <input id="razon" type="text" placeholder="" class="form-control"
                                            formControlName="razon" />
                                    </div>
                                    }
                                    <div>
                                        <label for="cuit">Cuit</label>
                                        <input id="cuit" type="text" placeholder="" class="form-control"
                                            formControlName="cuit" />
                                    </div>
                                    <div>
                                        <label for="estado">Estado</label>
                                        <ng-select [items]="posiblesEstados" bindLabel="name" bindValue="uuid"
                                            formControlName="estado" clearAllText="Limpiar"
                                            [ngClass]="isSubmit ? clienteForm.controls['estado'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>
                                    <div
                                        [ngClass]="isSubmit ? clienteForm.controls['estadoComentario'].errors ? 'has-error' : 'has-success' : ''">
                                        <label for="estadoComentario">Comentario sobre el estado</label>
                                        <textarea class="form-control" id="estadoComentario"
                                            formControlName="estadoComentario" rows="1"></textarea>
                                    </div>
                                    <div>
                                        <label for="calle">Calle</label>
                                        <input id="calle" type="text" placeholder="" class="form-control"
                                            formControlName="calle" />
                                    </div>
                                    <div>
                                        <label for="numero">Número</label>
                                        <input id="numero" type="text" placeholder="" class="form-control"
                                            formControlName="numero" />
                                    </div>
                                    <div>
                                        <label for="detalledireccion">Detalle de dirección</label>
                                        <textarea class="form-control" id="detalledireccion"
                                            formControlName="detalleDireccion" rows="1"></textarea>
                                    </div>
                                    <div>
                                        <label for="pais">País</label>
                                        <ng-select [items]="paises" bindLabel="name" bindValue="uuid"
                                            formControlName="pais" [virtualScroll]="true"
                                            [ngClass]="isSubmit ? clienteForm.controls['pais'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>

                                    <div>
                                        <label for="provincia">Provincia</label>
                                        <ng-select [items]="provincias" bindLabel="name" bindValue="uuid"
                                            formControlName="provincia"
                                            [ngClass]="isSubmit ? clienteForm.controls['provincia'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>

                                    <div
                                        [ngClass]="isSubmit ? clienteForm.controls['ciudad'].errors ? 'has-error' : 'has-success' : ''">
                                        <label for="ciudad">Ciudad</label>
                                        <ng-select [items]="ciudades" bindLabel="name" bindValue="uuid"
                                            formControlName="ciudad" [virtualScroll]="true"
                                            [ngClass]="isSubmit ? clienteForm.controls['ciudad'].errors ? 'has-error' : 'has-success' : ''">
                                        </ng-select>
                                    </div>
                                    <div>
                                        <label for="comentarios">Comentarios</label>
                                        <textarea class="form-control" id="comentarios" formControlName="comentarios"
                                            rows="1"></textarea>
                                    </div>
                                </div>
                            </div>

                            @if (isEdicion) {
                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-wd btn-primary mr-4"
                                        (click)="confirmarEdicion()">Confirmar</button>
                                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                                        (click)="cancelarEdicion()">Cancelar</button>
                                </div>
                            </div>
                            }

                        </form>

                    </div>


                    <div *ngIf="tab1.toLowerCase() === 'datos-de-contacto'">
                        <app-contactos [persona]="selectedCliente" [rol]="actual_role">
                        </app-contactos>
                    </div>

                    <div *ngIf="tab1.toLowerCase() === 'personas-de-contacto'">
                        <app-contactos-persona [persona]="selectedCliente" [rol]="actual_role">
                        </app-contactos-persona>
                    </div>

                    <div *ngIf="tab1.toLowerCase() === 'compras'">
                        <app-compras-clientes [cliente]="selectedCliente" [rol]="actual_role">
                        </app-compras-clientes>
                    </div>

                    <div *ngIf="tab1.toLowerCase() === 'productos-adquiridos'">
                        <app-productos-adquiridos [cliente]="selectedCliente" [rol]="actual_role">
                        </app-productos-adquiridos>
                    </div>

                    <div *ngIf="tab1.toLowerCase() === 'productos-en-posesion'">
                        <app-productos-en-posesion [cliente]="selectedCliente" [rol]="actual_role">
                        </app-productos-en-posesion>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<div>
    <ngx-custom-modal #modalCliente class="modal-top extra-large-modal animate animate-fade-in">
        <ng-template #modalHeader>
            <div class="position-relative text-center w-100">
                @if(altaPersona) {
                <button class="btn btn-wd position-absolute start-0" id="back-button-with-border" (click)="volver()">
                    <fa-icon [icon]="iconArrowLeft" style="color: #ada8a8"></fa-icon>
                    Atrás
                </button>
                }
                <h5 class="text-lg font-semibold dark:text-white-light m-0">{{tituloModal}}</h5>
            </div>
        </ng-template>

        <ng-template #modalBody>
            <!-- <div class="container">
                <div class="row justify-content-center"> -->
            <form [formGroup]="tipoPersonaForm">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="text-center">

                            <div class="form-check form-check-inline">
                                <label class="inline-flex mr-3" for="personafisica">
                                    <input class="form-radio" type="radio" name="tipoPersona" id="personafisica"
                                        value="fisica" formControlName="tipoPersona">
                                    <span style="cursor: pointer;">Persona física</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="inline-flex mr-3" for="personajuridica">
                                    <input class="form-radio" type="radio" name="tipoPersona" id="personajuridica"
                                        value="juridica" formControlName="tipoPersona">
                                    <span style="cursor: pointer;">Persona jurídica</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            @if (!altaPersona) {
            <div class="mb-5 flex flex-col md:flex-row md:items-center justify-between">
                <!-- Botón Agregar Cuenta Bancaria -->
                <button type="button" ngxTippy="Agregar nuevo cliente" (click)="altaNuevoCliente();">
                    <icon-plus />
                </button>

                <!-- Contenedor del Switch -->
                <div class="flex items-center gap-2">
                    <span>Filtros de búsqueda</span>
                    <label class="w-12 h-6 relative">
                        <input type="checkbox"
                            class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                            id="custom_switch_checkbox2" (change)="toggleFilter()" />
                        <span for="custom_switch_checkbox2"
                            class="outline_checkbox bg-icon border-2 border-[#ebedf2] dark:border-white-dark block h-full rounded-full before:absolute before:left-1 before:bg-[#ebedf2] dark:before:bg-white-dark before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:border-primary peer-checked:before:bg-primary before:transition-all before:duration-300">
                        </span>
                    </label>
                </div>
            </div>
            <!-- TABLA  BÚSQUEDA -->
            <div class="row mb-2">
                <div class="col-6">
                    <span *ngIf="personas && personas.length > 0" class="float-md-start color-gris">
                        Página: {{ currentPage_buscar}}/{{numPages.pageCount }}
                    </span>
                </div>
                <div class="col-6" style="text-align: right;">
                    <span *ngIf="personas && personas.length > 0" class="float-md-end color-gris">
                        Ítems: {{itemsInPage_buscar}}/{{ total_rows_buscar }}
                    </span>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table-hover">
                    <thead>
                        <tr>
                            @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Nombre
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Apellido
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Documento
                                </span>
                            </th>
                            } @else {
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Razón social
                                </span>
                            </th>
                            }
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Cuit
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Es proveedor
                                </span>
                            </th>
                            <th style="cursor: pointer;">
                                <span style="display: inline-flex; align-items: center; gap: 10px;">
                                    Es cliente
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (showFilterPersonas) {
                        <tr>
                            @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {

                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.firstname.value" (input)="obtenerPersonas()" />
                            </td>
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.lastname.value" (input)="obtenerPersonas()" />
                            </td>
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.document_number.value"
                                    (input)="obtenerPersonas()" />
                            </td>
                            }@else {
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.company_name.value"
                                    (input)="obtenerPersonas()" />
                            </td>
                            }
                            <td>
                                <input type="text" class="form-control campo-busqueda"
                                    [(ngModel)]="filtrosContactos_buscar.cuit.value" (input)="obtenerPersonas()" />
                            </td>
                            <!-- <td></td>
                                <td></td>
                                <td></td> -->
                        </tr>
                        }
                        @for(data of (personas | slice: 0:itemsPerPage_buscar) ; track data.uuid) {
                        <tr (click)="agregarClienteAFormulario(data)" style="cursor: pointer;">
                            @if(tipoPersonaForm.get('tipoPersona')?.value === 'fisica') {
                            <td class="whitespace-nowrap">{{ data.firstname }} </td>
                            <td class="whitespace-nowrap">{{ data.lastname }} </td>
                            <td class="whitespace-nowrap">{{ data.document_number }}</td>
                            }@else {
                            <td class="whitespace-nowrap">{{ data.company_name }} </td>
                            }
                            <td class="whitespace-nowrap">{{ data.cuit }} </td>
                            <td class="whitespace-nowrap">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label flex items-center gap-2">
                                        <input class="form-checkbox" type="checkbox" [checked]="isProveedor(data)">
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="whitespace-nowrap">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label flex items-center gap-2">
                                        <input class="form-checkbox" type="checkbox" [checked]="isCliente(data)">
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="row mt-2 mb-2">
                    <div class="col">
                        <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows_buscar"
                            [pageSize]="itemsPerPage_buscar" [(page)]="currentPage_buscar" [maxSize]="2" [rotate]="true"
                            #numPages [boundaryLinks]="true" (pageChange)="obtenerPersonas()" />
                    </div>

                    <div class="col">
                        <div class="row align-items-center float-md-end">
                            <div class="col-auto">
                                <label for="paginacion">Ítems por página:</label>
                            </div>
                            <div class="col-auto">
                                <select id="paginacion" class="form-control" (change)="obtenerPersonas()"
                                    [(ngModel)]="itemsPerPage_buscar">
                                    <option value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=20>20</option>
                                    <option value=50>50</option>
                                    <option value=100>100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            } @else {
            <div class="col-md-12">
                <form [formGroup]="newClienteForm">
                    <div class="flex flex-col sm:flex-row">
                        <div class="grid flex-1 grid-cols-1 gap-3 sm:grid-cols-3">

                            <!-- FORMULARIO -->
                            @if (tipoPersonaForm.controls['tipoPersona'].value === 'fisica') {
                            <!-- FISICA -->
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['nombre'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Nombre</label>
                                <input type="text" class="form-control" formControlName="nombre">
                            </div>

                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['apellido'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Apellido</label>
                                <input type="text" class="form-control" formControlName="apellido">
                            </div>
                            <div>
                                <label for="tipoDocumento">Tipo documento</label>
                                <ng-select [items]="documentos" bindLabel="name" bindValue="uuid" [selectOnTab]="true"
                                    formControlName="tipoDocumento"
                                    [ngClass]="isSubmit ? newClienteForm.controls['tipoDocumento'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['documento'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Documento</label>
                                <input type="text" class="form-control" formControlName="documento">
                            </div>
                            <div>
                                <label for="genero">Género</label>
                                <ng-select [items]="generos" bindLabel="name" bindValue="uuid" formControlName="genero"
                                    [selectOnTab]="true"
                                    [ngClass]="isSubmit ? newClienteForm.controls['genero'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>
                            }@else {
                            <!-- JURIDICA -->
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['razon'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Razón</label>
                                <input type="text" class="form-control" formControlName="razon">
                            </div>
                            }
                            <!-- DATOS COMUNES  -->
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['cuit'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Cuit</label>
                                <input type="text" class="form-control" formControlName="cuit">
                            </div>
                            <div>
                                <label for="condicion">Condición</label>
                                <ng-select [items]="condicionesIva" bindLabel="name" bindValue="uuid"
                                    formControlName="condicion" [virtualScroll]="true" [selectOnTab]="true"
                                    [ngClass]="isSubmit ? newClienteForm.controls['condicion'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>
                            <div>
                                <label for="estado">Estado</label>
                                <ng-select [items]="posiblesEstados" bindLabel="name" bindValue="uuid"
                                    formControlName="estado" [virtualScroll]="true" [selectOnTab]="true"
                                    clearAllText="Limpiar"
                                    [ngClass]="isSubmit ? newClienteForm.controls['estado'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['estadoComentario'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="estadoComentario">Comentario sobre el estado</label>
                                <textarea class="form-control" id="estadoComentario" formControlName="estadoComentario"
                                    rows="1"></textarea>
                            </div>
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['calle'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Calle</label>
                                <input type="text" class="form-control" formControlName="calle">
                            </div>
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['numero'].errors ? 'has-error' : 'has-success' : ''">
                                <label>Número</label>
                                <input type="text" class="form-control" formControlName="numero">
                            </div>
                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['detalleDireccion'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="detalleDireccion">Detalle de la dirección</label>
                                <textarea class="form-control" id="detalleDireccion" formControlName="detalleDireccion"
                                    rows="1"></textarea>
                            </div>

                            <div>
                                <label for="pais">País</label>
                                <ng-select [items]="paises" bindLabel="name" bindValue="uuid" formControlName="pais"
                                    [virtualScroll]="true" [selectOnTab]="true"
                                    [ngClass]="isSubmit ? newClienteForm.controls['pais'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div>
                                <label for="provincia">Provincia</label>
                                <ng-select [items]="provincias" bindLabel="name" bindValue="uuid"
                                    formControlName="provincia" [selectOnTab]="true"
                                    [ngClass]="isSubmit ? newClienteForm.controls['provincia'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['ciudad'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="ciudad">Ciudad</label>
                                <ng-select [items]="ciudades" bindLabel="name" bindValue="uuid" formControlName="ciudad"
                                    [virtualScroll]="true" [selectOnTab]="true"
                                    [ngClass]="isSubmit ? newClienteForm.controls['ciudad'].errors ? 'has-error' : 'has-success' : ''">
                                </ng-select>
                            </div>

                            <div
                                [ngClass]="isSubmit ? newClienteForm.controls['comentarios'].errors ? 'has-error' : 'has-success' : ''">
                                <label for="comentarios">Comentarios</label>
                                <textarea class="form-control" id="comentarios" formControlName="comentarios"
                                    rows="1"></textarea>

                            </div>
                            <div>
                                <label for="percepcionIVA">IVA (%)</label>
                                <input id="percepcionIVA" type="text" placeholder="" class="form-control"
                                    formControlName="percepcionIVA" />
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            }

            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    @if(altaPersona){
                    <button class="btn btn-primary mr-3" (click)="confirmarNuevoCliente()">
                        Confirmar
                    </button>
                    }
                    <button id="back-button-with-border" type="button" class="btn btn-wd"
                        (click)="cerrarModal()">Cancelar</button>
                </div>
            </div>

            <!-- </div>
            </div> -->
        </ng-template>
    </ngx-custom-modal>
</div>


<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Filtros avanzados</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <div class="max-w-[50rem] mt-3 w-full shadow-[4px_6px_10px_-3px_#bfc9d4] rounded border border-[#e0e6ed] 
                    dark:border-[#1b2e4b] dark:bg-[#191e3a] dark:shadow-none mx-auto">
                    <div class="py-4 px-4">

                        <!-- Tipo de Persona -->
                        <div class="mb-3 text-center">
                            <label class="font-semibold text-gray-700 d-block">Tipo de Persona:</label>
                            <div class="d-flex justify-content-center gap-3">
                                <div class="form-check">
                                    <label class="inline-flex items-center" for="radioTodos">
                                        <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                            id="radioTodos" value="todos" [(ngModel)]="filtros.tipoPersona"
                                            (change)="cleanFilters()">
                                        <span class="ml-2 cursor-pointer">Todos</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="inline-flex items-center" for="radioFisica">
                                        <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                            id="radioFisica" value="fisica" [(ngModel)]="filtros.tipoPersona"
                                            (change)="cleanFilters()">
                                        <span class="ml-2 cursor-pointer">Física</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="inline-flex items-center" for="radioJuridica">
                                        <input class="form-radio rounded-full" type="radio" name="flexRadioDefault"
                                            id="radioJuridica" value="juridica" [(ngModel)]="filtros.tipoPersona"
                                            (change)="cleanFilters()">
                                        <span class="ml-2 cursor-pointer">Jurídica</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Campos en una sola fila -->
                        <div class="d-flex flex-wrap align-items-center gap-3">
                            @if(this.filtros.tipoPersona === 'fisica' || this.filtros.tipoPersona === 'todos') {
                            <div class="flex-grow-1">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control" [(ngModel)]="filtros.nombre">
                            </div>
                            <div class="flex-grow-1">
                                <label for="apellido">Apellido</label>
                                <input type="text" id="apellido" class="form-control" [(ngModel)]="filtros.apellido">
                            </div>
                            }
                            @if(this.filtros.tipoPersona === 'juridica' || this.filtros.tipoPersona === 'todos') {
                            <div class="flex-grow-1">
                                <label for="razon">Razón Social</label>
                                <input type="text" id="razon" class="form-control" [(ngModel)]="filtros.razon">
                            </div>
                            }
                            <div class="flex-grow-1">
                                <label for="sigla">Sigla</label>
                                <input type="text" id="sigla" class="form-control" [(ngModel)]="filtros.sigla">
                            </div>
                            <div class="flex-grow-1">
                                <label for="cuit">Cuit / Dni</label>
                                <input type="text" id="cuit" class="form-control" [(ngModel)]="filtros.cuit">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <button class="mt-2 btn btn-primary" (click)="limpiarFiltros()">
                Limpiar filtros avanzados
            </button>

        </div>



    </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Cargando</p>
</ngx-spinner>