<div>
    <div class="panel mt-6 pb-0">
        <div class="mb-5 flex flex-col gap-2 md:flex-row md:items-center">
            <h5 class="text-lg font-semibold dark:text-white-light">Usuarios
            </h5>
            <button type="button" ngxTippy="Activar filtros" (click)="toggleFilter()">
                <icon-search />
            </button>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <span *ngIf="usuarios && usuarios.length > 0" class="float-md-start color-gris">
                    Página: {{ currentPage}}/{{numPages.pageCount }}
                </span>
            </div>
            <div class="col-6" style="text-align: right;">
                <span *ngIf="usuarios && usuarios.length > 0" class="float-md-end color-gris">
                    Ítems: {{itemsInPage}}/{{ filtrarDatos().length }}
                </span>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Email</th>
                        <th>Verificado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (showFilter) {
                    <tr>
                        <td>
                            <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.name" />
                        </td>
                        <td>
                            <input type="text" class="form-control campo-busqueda" [(ngModel)]="filtros.email" />
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    }
                    @for(data of filtrarDatos() | slice: pageSize | slice: 0:itemsPerPage ; track data.uuid) {
                    <tr>
                        <td class="whitespace-nowrap">{{ data.human.firstname}} {{ data.human.lastname}} </td>
                        <td> {{data.email}} </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [checked]="isVerified(data)"
                                        [id]="'checkbox' + data.uuid"
                                        (click)="openSwalCambiarEstadoUsuario(data, 'checkbox' + data.uuid)">
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            {{data.roles | arrayToString:'name' }}
                            <button type="button" ngxTippy="Administrar roles">
                                <icon-pencil />
                            </button>
                        </td>
                        <td>
                            <div class="flex items-center">
                                <div>
                                    <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Ver información">
                                        <icon-info-circle />
                                    </button>
                                </div>
                                <!-- <div>
                                    <button type="button" class="ltr:mr-3 rtl:ml-2" ngxTippy="Editar">
                                        <icon-pencil />
                                    </button>
                                </div> -->
                                <div>
                                    <button type="button" ngxTippy="Eliminar">
                                        <icon-trash-lines />
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="row mt-4">
                <div class="col">
                    <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="filtrarDatos().length || 0"
                        [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                        [boundaryLinks]="true" (pageChange)="onPageChange(currentPage)" />
                </div>

                <div class="col">
                    <div class="row align-items-center float-md-end">
                        <div class="col-auto">
                            <label for="paginacion">Ítems por página:</label>
                        </div>
                        <div class="col-auto">
                            <select id="paginacion" class="form-control" (change)="cambiarPaginacion();"
                                [(ngModel)]="itemsPerPage">
                                <option value=5>5</option>
                                <option value=10>10</option>
                                <option value=20>20</option>
                                <option value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>