@if (isTerminadoOLiberado()) {
<div
    class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light mt-3">
    <span class="ltr:pr-2 rtl:pl-2">
        <strong class="ltr:mr-1 rtl:ml-1">
            La producción se encuentra en estado {{produccion.current_state?.state?.name}}
        </strong>
    </span>
</div>
} @else {

<div class="panel pb-4">

    @if (faltantes.length === 0) {
    <div
        class="flex justify-content-center items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light flex-shrink-0">
        <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1"> No posee faltantes</strong></span>
    </div>
    } @else {
    <div class="row mb-2 flex-shrink-0">
        <div class="col-6">
            <span *ngIf="faltantes && faltantes.length > 0" class="float-md-start color-gris">
                Página: {{ currentPage}}/{{numPages.pageCount }}
            </span>
        </div>
        <div class="col-6 text-right">
            <span *ngIf="faltantes && faltantes.length > 0" class="float-md-end color-gris">
                Ítems: {{itemsInPage}}/{{ total_rows }}
            </span>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th> Orden </th>
                    <th> Nombre </th>
                    <th> Cantidad necesaria por producto </th>
                    <th> Cantidad necesaria total </th>
                    <th> Cantidad disponible </th>
                    <th> Cantidad reservada </th>
                    <th> Cantidad de muestra </th>
                    <th> Cantidad observada </th>
                </tr>
            </thead>
            <tbody>
                @for(data of faltantes | slice: pageSize | slice: 0:itemsPerPage ; let index = $index; track data.uuid){
                <tr>
                    <td class="whitespace-nowrap"> {{index+1}} </td>
                    <td class="whitespace-nowrap">
                        <div class="flex items-center gap-1">
                            <span>{{data.name}}</span>
                            @if(hasNotReleasedProductions(data)) {
                            <span class="text-red-600 cursor-pointer" (click)="buscarComponenteNoliberado(data)"
                                ngxTippy="Existen producciones aún no liberadas. Click para consultarlas">
                                <icon-info-circle class="w-4 h-4" />
                            </span>
                            }
                        </div>
                    </td>
                    <td class="whitespace-nowrap"> {{ getCantidad(data, data.quantity) }} </td>
                    <td class="whitespace-nowrap"> {{ getCantidadTotal(data) }} </td>
                    <td class="whitespace-nowrap"> {{ getCantidad(data, data.product?.stock_data?.available_amount) }}
                    </td>
                    <td class="whitespace-nowrap"> {{ getCantidad(data, data.product?.stock_data?.reserved_amount) }}
                    </td>
                    <td class="whitespace-nowrap"> {{ getCantidad(data, data.product?.stock_data?.samples_amount) }}
                    </td>
                    <td class="whitespace-nowrap"> {{ getCantidad(data, data.product?.stock_data?.observed_amount) }}
                    </td>

                </tr>
                }
            </tbody>
        </table>

        <div class="row mt-4 gy-3 flex-shrink-0">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <ngb-pagination class="ngb-pagination float-md-end" [collectionSize]="total_rows"
                    [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="2" [rotate]="true" #numPages
                    [boundaryLinks]="true" (pageChange)="obtenerFaltantes()" />
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <label for="paginacion" class="me-2 mb-0">Ítems por página:</label>
                <ng-select [items]="[5,10,20,50,100]" [(ngModel)]="itemsPerPage" bindLabel="label" [clearable]="false"
                    class="custom-select" [dropdownPosition]="'top'" (change)="obtenerFaltantes()">
                </ng-select>
            </div>
        </div>

    </div>

    }

</div>

}